# Repos using the database

In [4]:
repos = ["database-layer", "notification-mail-service" ]

# Download repos using the database

In [5]:
import os

from tempfile import gettempdir

def get_repo_dir(repo):
    return os.path.join(gettempdir(), repo)

get_repo_dir(repos[0])

'/tmp/database-layer'

In [8]:
for repo in repos:
    !git clone --depth 1 "https://github.com/serlo/{repo}.git" {get_repo_dir(repo)}

Cloning into '/tmp/database-layer'...
remote: Enumerating objects: 949, done.
remote: Counting objects: 100% (949/949), done.
remote: Compressing objects: 100% (832/832), done.
remote: Total 949 (delta 144), reused 821 (delta 107), pack-reused 0
Receiving objects: 100% (949/949), 104.49 MiB | 11.41 MiB/s, done.
Resolving deltas: 100% (144/144), done.
Cloning into '/tmp/notification-mail-service'...
remote: Enumerating objects: 1032, done.
remote: Counting objects: 100% (1032/1032), done.
remote: Compressing objects: 100% (1019/1019), done.
remote: Total 1032 (delta 8), reused 982 (delta 5), pack-reused 0
Receiving objects: 100% (1032/1032), 44.82 MiB | 11.81 MiB/s, done.
Resolving deltas: 100% (8/8), done.

# Extract SQL statements

In [11]:
import fnmatch

def find_files(root_dir, extensions=['ts', 'tsx', 'rs']):
    found_files = []

    for root, _, files in os.walk(root_dir):
        for file in files:
            # Check if the file extension matches any of the specified extensions
            if any(fnmatch.fnmatch(file, f'*.{ext}') for ext in extensions):
                found_files.append(os.path.join(root, file))

    return found_files

find_files(get_repo_dir(repos[0]))[:5]

['/tmp/database-layer/scripts/changelog.ts',
 '/tmp/database-layer/scripts/deploy.ts',
 '/tmp/database-layer/scripts/mysql/mysql-import-anonymous-data.ts',
 '/tmp/database-layer/server/tests/thread.rs',
 '/tmp/database-layer/server/tests/uuid.rs']

In [61]:
import re

sql_operators = ("select", "insert", "update", "delete")
raw_sql_statements = []

def sql_query_matches(operator, sql_query):
    return sql_query.lower().startswith(operator + " ")

for repo in repos:
    source_files = find_files(get_repo_dir(repo))

    for source_file in source_files:
        if source_file.endswith(".rs"):
            regex = r"r#\"([^\"]*)\"#"
        else:
            regex = r"`([^`]*)`"

        with open(source_file, "r") as file:
            source_content = file.read()

        matches = re.findall(regex, source_content)

        for untrimmed_match in matches:
            sql_query = untrimmed_match.strip()
            
            # Delete comments in database-layer/server/src/navigation/model/navigation_child.rs
            sql_query = re.sub("# Level \d", "", sql_query)

            # Fix insert
            #    INSERT INTO entity_link (parent_id, child_id, type_id, entity_link.order) VALUES (42, 42, 9, 42)
            # in database-layer/server/src/uuid/model/entity/mod.rs
            #
            # -> Should be done in a PR
            sql_query = sql_query.replace("(parent_id, child_id, type_id, entity_link.order)", "(parent_id, child_id, type_id, order)")

            # Fix
            #   UPDATE notification
            #   SET email_sent = true
            #   WHERE id in (${notificationsIds.join(',')});
            # in notification-mail-service/src/mail-service/db-connection.ts
            sql_query = sql_query.replace("(${notificationsIds.join(',')})", "(42)")

            if any(sql_query_matches(operator, sql_query) for operator in sql_operators):
                raw_sql_statements.append({
                    "sql_query": sql_query,
                    "file": source_file
                })

raw_sql_statements[:2]

[{'sql_query': 'SELECT user_id\n                FROM role_user\n                WHERE user_id = ?\n                and role_id = ?',
  'file': '/tmp/database-layer/server/tests/user.rs'},
 {'sql_query': 'SELECT user_id\n                FROM role_user\n                WHERE user_id = ?\n                and role_id = ?',
  'file': '/tmp/database-layer/server/tests/user.rs'}]

# Parse SQL statements and add data about it

In [68]:
from sqlglot import parse, exp

def add_data(file, sql_query):
    is_test_file = "test" in file
    sql_operator = [operator for operator in sql_operators if sql_query_matches(operator, sql_query)][0]

    print()
    #print(file)
    print(sql_query)
    parsed_statements = parse(sql_query)

    assert len(parsed_statements) == 1

    parsed_query = parsed_statements[0]

    tables = [t.name for t in parsed_query.find_all(exp.Table)]
    columns = [c.to_dot().name for c in parsed_query.find_all(exp.Column)]
    print("tables", tables)
    print("columns", columns)

    
    
    #for column in parse_one(sql_query).find_all(exp.Column):
        
        #print(column.to_dot())
    
    
    return {
        "file": file,
        "is_test_file": is_test_file,
        "sql_operator": sql_operator,
        "sql_type": "query" if sql_operator == "select" else "mutation",
        "sql_query": sql_query
    }

sql_statements = [add_data(entry["file"], entry["sql_query"]) for entry in raw_sql_statements]
sql_statements[0]

SELECT user_id
                FROM role_user
                WHERE user_id = ?
                and role_id = ?
tables ['role_user']
columns ['user_id', 'user_id', 'role_id']

SELECT user_id
                FROM role_user
                WHERE user_id = ?
                and role_id = ?
tables ['role_user']
columns ['user_id', 'user_id', 'role_id']

SELECT LAST_INSERT_ID() AS id
                FROM uuid;
tables ['uuid']
columns []

select author_id from ad where id = 1
tables ['ad']
columns ['author_id', 'id']

select author_id from blog_post where id = 1199
tables ['blog_post']
columns ['author_id', 'id']

select author_id from comment where id = 16740
tables ['comment']
columns ['author_id', 'id']

select * from comment_vote where user_id = 10
tables ['comment_vote']
columns ['user_id']

select author_id from entity_revision where id = 16114
tables ['entity_revision']
columns ['author_id', 'id']

select actor_id from event_log where id = 38383
tables ['event_log']
columns ['actor_id', 'id']

select * from notification where user_id = 10
tables ['notification']
columns ['user_id']

select author_id from page_revision where id = 16283
tables ['page_revision']
columns ['author_id', 'id']

select * from role_user where user_id = 10
tables ['role_user']
columns ['user_id']

select * from subscription where user_id = 10
tables ['subscription']
columns ['user_id']

select * from subscription where uuid_id = 10
tables ['subscription']
columns ['uuid_id']

select * from uuid where id = 10
tables ['uuid']
columns ['id']

select * from flag where reporter_id = 10
tables ['flag']
columns ['reporter_id']

INSERT INTO role_user (user_id, role_id)
                VALUES (?, 3)
tables ['role_user']
columns []

SELECT *
                FROM role_user
                WHERE user_id = ?
                and role_id = ?
tables ['role_user']
columns ['user_id', 'role_id']

SELECT i.id as instance_id
                        FROM uuid
                        JOIN (
                            SELECT id, instance_id FROM attachment_container
                            UNION ALL
                            SELECT id, instance_id FROM blog_post
                            UNION ALL
                            SELECT id, instance_id FROM comment
                            UNION ALL
                            SELECT id, instance_id FROM entity
                            UNION ALL
                            SELECT er.id, e.instance_id FROM entity_revision er JOIN entity e ON er.repository_id = e.id
                            UNION ALL
                            SELECT id, instance_id FROM page_repository
                            UNION ALL
                            SELECT pr.id, p.instance_id FROM page_revision pr JOIN page_repository p ON pr.page_repository_id = p.id
                            UNION ALL
                            SELECT ta.id, t.instance_id FROM term_taxonomy ta JOIN term t ON t.id = ta.term_id
                            UNION ALL
                            SELECT user.id, 1 FROM user) u
                        JOIN instance i ON i.id = u.instance_id
                        WHERE u.id = ?
tables ['uuid', 'instance', 'attachment_container', 'blog_post', 'comment', 'entity', 'entity_revision', 'entity', 'page_repository', 'page_revision', 'page_repository', 'term_taxonomy', 'term', 'user']
columns ['id', 'id', 'instance_id', 'id', 'id', 'instance_id', 'id', 'instance_id', 'id', 'instance_id', 'id', 'instance_id', 'id', 'instance_id', 'id', 'instance_id', 'repository_id', 'id', 'id', 'instance_id', 'id', 'instance_id', 'id', 'page_repository_id', 'id', 'id', 'term_id']

INSERT INTO comment
                            (id, date, archived, title, content, uuid_id, parent_id,
                            author_id, instance_id)
                        VALUES (LAST_INSERT_ID(), ?, 0, ?, ?, ?, NULL, ?, ?)
tables ['comment']
columns []

SELECT LAST_INSERT_ID() as id
tables []
columns []

INSERT INTO comment
                            (id, date, archived, title, content, uuid_id,
                            parent_id, author_id, instance_id )
                        VALUES (LAST_INSERT_ID(), ?, 0, NULL, ?, NULL, ?, ?, ?)
tables ['comment']
columns []

SELECT LAST_INSERT_ID() as id
tables []
columns []

UPDATE comment
                            SET archived = ?
                            WHERE id = ?
tables ['comment']
columns ['archived', 'id']

UPDATE comment
                        SET comment_status_id = (SELECT id from comment_status where name = ?)
                        WHERE comment.id = ?
tables ['comment', 'comment_status']
columns ['comment_status_id', 'id', 'id', 'name']

SELECT content, author_id, archived, trashed
                FROM comment JOIN uuid ON uuid.id = comment.id
                WHERE comment.id = ?
tables ['comment', 'uuid']
columns ['content', 'author_id', 'archived', 'trashed', 'id', 'id', 'id']

UPDATE comment SET content = ? WHERE id = ?
tables ['comment']
columns ['content', 'id']

SELECT date FROM event_log WHERE id = 1
tables ['event_log']
columns ['date', 'id']

SELECT p.id
                    FROM navigation_page p
                    WHERE p.parent_id = ?
                    ORDER BY p.position, p.id
tables ['navigation_page']
columns ['id', 'parent_id', 'position', 'id']

SELECT name, value FROM
                    (

                    SELECT k.name, p.value, p.page_id
                        FROM navigation_parameter p
                        JOIN navigation_parameter_key k ON k.id = p.key_id
                        WHERE p.parent_id IS NULL AND value != ''
                    UNION ALL

                    SELECT CONCAT(k1.name, '.', k2.name) as name, p2.value, p2.page_id
                        FROM navigation_parameter p1
                        JOIN navigation_parameter p2 ON p2.parent_id = p1.id
                        JOIN navigation_parameter_key k1 ON k1.id = p1.key_id
                        JOIN navigation_parameter_key k2 ON k2.id = p2.key_id
                        WHERE p1.parent_id IS NULL AND p2.value != ''
                    UNION ALL

                    SELECT CONCAT(k1.name, '.', k2.name, '.', k3.name) as name, p3.value, p3.page_id
                        FROM navigation_parameter p1
                        JOIN navigation_parameter p2 ON p2.parent_id = p1.id
                        JOIN navigation_parameter p3 ON p3.parent_id = p2.id
                        JOIN navigation_parameter_key k1 ON k1.id = p1.key_id
                        JOIN navigation_parameter_key k2 ON k2.id = p2.key_id
                        JOIN navigation_parameter_key k3 ON k3.id = p3.key_id
                        WHERE p1.parent_id IS NULL AND p3.value != ''
                    ) u
                    WHERE page_id = ?
tables ['navigation_parameter', 'navigation_parameter_key', 'navigation_parameter', 'navigation_parameter', 'navigation_parameter_key', 'navigation_parameter_key', 'navigation_parameter', 'navigation_parameter', 'navigation_parameter', 'navigation_parameter_key', 'navigation_parameter_key', 'navigation_parameter_key']
columns ['name', 'value', 'page_id', 'name', 'value', 'page_id', 'value', 'page_id', 'value', 'page_id', 'id', 'key_id', 'parent_id', 'value', 'name', 'name', 'parent_id', 'id', 'id', 'key_id', 'id', 'key_id', 'name', 'name', 'name', 'parent_id', 'id', 'parent_id', 'id', 'id', 'key_id', 'id', 'key_id', 'id', 'key_id', 'parent_id', 'value', 'parent_id', 'value']

SELECT p.id
                        FROM navigation_page p
                        JOIN navigation_container c ON c.id = p.container_id
                        JOIN instance i ON i.id = c.instance_id
                        JOIN type t ON t.id = c.type_id
                        WHERE i.subdomain = ? AND t.name = 'default' AND p.parent_id IS NULL
                        ORDER BY p.position, p.id
tables ['navigation_page', 'navigation_container', 'instance', 'type']
columns ['id', 'id', 'container_id', 'id', 'instance_id', 'id', 'type_id', 'position', 'id', 'parent_id', 'subdomain', 'name']

SELECT id FROM event_log WHERE uuid_id = ? ORDER BY date DESC
tables ['event_log']
columns ['id', 'uuid_id', 'date']

SELECT instance_id FROM comment WHERE id = ?
tables ['comment']
columns ['instance_id', 'id']

SELECT l.id, l.actor_id, l.uuid_id, l.date, i.subdomain, e.name
                    FROM event_log l
                    LEFT JOIN event_parameter p ON l.id = p.log_id
                    JOIN instance i ON l.instance_id = i.id
                    JOIN event e ON l.event_id = e.id
                    WHERE l.id = ?
tables ['event_log', 'event_parameter', 'instance', 'event']
columns ['id', 'actor_id', 'uuid_id', 'date', 'subdomain', 'name', 'id', 'log_id', 'instance_id', 'id', 'event_id', 'id', 'id']

SELECT n.name, s.value
                    FROM event_parameter p
                    JOIN event_parameter_name n ON n.id = p.name_id
                    JOIN event_parameter_string s ON s.event_parameter_id = p.id
                    WHERE p.name_id = n.id AND p.log_id = ?
tables ['event_parameter', 'event_parameter_name', 'event_parameter_string']
columns ['name', 'value', 'id', 'name_id', 'event_parameter_id', 'id', 'name_id', 'id', 'log_id']

SELECT n.name, u.uuid_id
                    FROM event_parameter p
                    JOIN event_parameter_name n ON n.id = p.name_id
                    JOIN event_parameter_uuid u ON u.event_parameter_id = p.id
                    WHERE p.name_id = n.id AND p.log_id = ?
tables ['event_parameter', 'event_parameter_name', 'event_parameter_uuid']
columns ['name', 'uuid_id', 'id', 'name_id', 'event_parameter_id', 'id', 'name_id', 'id', 'log_id']

SELECT *
                FROM user
                WHERE id = ?
tables ['user']
columns ['id']

INSERT INTO event_log (actor_id, event_id, uuid_id, instance_id, date)
                    SELECT ?, id, ?, ?, ?
                    FROM event
                    WHERE name = ?
tables ['event_log', 'event']
columns ['id', 'name']

SELECT LAST_INSERT_ID() as id
tables []
columns []

INSERT INTO event_parameter (log_id, name_id)
                        SELECT ?, id
                        FROM event_parameter_name
                        WHERE name = ?
tables ['event_parameter', 'event_parameter_name']
columns ['id', 'name']

SELECT LAST_INSERT_ID() as id
tables []
columns []

INSERT INTO event_parameter_string (value, event_parameter_id)
                        VALUES (?, ?)
tables ['event_parameter_string']
columns []

INSERT INTO event_parameter (log_id, name_id)
                        SELECT ?, id
                        FROM event_parameter_name
                        WHERE name = ?
tables ['event_parameter', 'event_parameter_name']
columns ['id', 'name']

SELECT LAST_INSERT_ID() as id
tables []
columns []

INSERT INTO event_parameter_uuid (uuid_id, event_parameter_id)
                        VALUES (?, ?)
tables ['event_parameter_uuid']
columns []

SELECT u.trashed, f.name
                    FROM attachment_file f
                    JOIN attachment_container c ON c.id = f.attachment_id
                    JOIN uuid u ON u.id = c.id
                    WHERE c.id = ?
tables ['attachment_file', 'attachment_container', 'uuid']
columns ['trashed', 'name', 'id', 'attachment_id', 'id', 'id', 'id']

SELECT discriminator FROM uuid WHERE id = ?
tables ['uuid']
columns ['discriminator', 'id']

SELECT u.trashed, i.subdomain, u.discriminator
                        FROM uuid u
                        JOIN (
                        SELECT id, instance_id FROM attachment_container
                        UNION ALL
                        SELECT id, instance_id FROM blog_post
                        UNION ALL
                        SELECT id, instance_id FROM comment
                        UNION ALL
                        SELECT id, instance_id FROM entity
                        UNION ALL
                        SELECT id, instance_id FROM page_repository
                        UNION ALL
                        SELECT pr.id, p.instance_id FROM page_revision pr JOIN page_repository p ON pr.page_repository_id = p.id
                        UNION ALL
                        SELECT term_taxonomy.id, instance_id FROM term_taxonomy JOIN term ON term.id = term_taxonomy.term_id
                        ) c ON c.id = u.id
                        JOIN instance i ON i.id = c.instance_id
                        WHERE u.id = ?
tables ['uuid', 'instance', 'attachment_container', 'blog_post', 'comment', 'entity', 'page_repository', 'page_revision', 'page_repository', 'term_taxonomy', 'term']
columns ['trashed', 'subdomain', 'discriminator', 'id', 'id', 'id', 'instance_id', 'id', 'id', 'instance_id', 'id', 'instance_id', 'id', 'instance_id', 'id', 'instance_id', 'id', 'instance_id', 'id', 'instance_id', 'id', 'instance_id', 'page_repository_id', 'id', 'id', 'term_id']

SELECT trashed FROM uuid WHERE id = ?
tables ['uuid']
columns ['trashed', 'id']

SELECT trashed FROM uuid WHERE id = ?
tables ['uuid']
columns ['trashed', 'id']

SELECT trashed, username, date, last_login, description
                    FROM user
                    JOIN uuid ON user.id = uuid.id
                    WHERE user.id = ?
tables ['user', 'uuid']
columns ['trashed', 'username', 'date', 'last_login', 'description', 'id', 'id', 'id']

SELECT r.name
                    FROM role r
                    JOIN role_user ru on r.id = ru.role_id
                    WHERE ru.user_id = ?
tables ['role', 'role_user']
columns ['name', 'id', 'role_id', 'user_id']

SELECT u.trashed, c.author_id, c.title, c.date, c.archived, c.content, c.parent_id,
                        c.uuid_id, p.title as parent_title, comment_status.name as status
                    FROM comment c
                    LEFT JOIN comment p ON p.id = c.parent_id
                    LEFT JOIN comment_status ON comment_status.id = c.comment_status_id
                    JOIN uuid u ON u.id = c.id
                    WHERE c.id = ?
tables ['comment', 'comment', 'comment_status', 'uuid']
columns ['trashed', 'author_id', 'title', 'date', 'archived', 'content', 'parent_id', 'uuid_id', 'title', 'name', 'id', 'parent_id', 'id', 'comment_status_id', 'id', 'id', 'id']

SELECT id
                    FROM comment
                    WHERE parent_id = ?
tables ['comment']
columns ['id', 'parent_id']

SELECT uuid_id as id
                    FROM (
                        SELECT id, uuid_id FROM comment c
                        UNION ALL
                        SELECT c.id, p.uuid_id FROM comment p LEFT JOIN comment c ON c.parent_id = p.id
                    ) t
                    WHERE id = ? AND uuid_id IS NOT NULL
tables ['comment', 'comment', 'comment']
columns ['uuid_id', 'id', 'id', 'uuid_id', 'id', 'uuid_id', 'uuid_id', 'parent_id', 'id']

SELECT u.trashed, r.title, r.content, r.date, r.author_id, r.page_repository_id
                    FROM page_revision r
                    JOIN uuid u ON u.id = r.id
                    WHERE r.id = ?
tables ['page_revision', 'uuid']
columns ['trashed', 'title', 'content', 'date', 'author_id', 'page_repository_id', 'id', 'id', 'id']

SELECT u.trashed, b.title
                    FROM blog_post b
                    JOIN uuid u ON u.id = b.id
                    WHERE b.id = ?
tables ['blog_post', 'uuid']
columns ['trashed', 'title', 'id', 'id', 'id']

SELECT u.trashed, i.subdomain, p.current_revision_id, p.license_id, r.title
                    FROM page_repository p
                    JOIN uuid u ON u.id = p.id
                    JOIN instance i ON i.id = p.instance_id
                    LEFT JOIN page_revision r ON r.id = p.current_revision_id
                    WHERE p.id = ?
tables ['page_repository', 'uuid', 'instance', 'page_revision']
columns ['trashed', 'subdomain', 'current_revision_id', 'license_id', 'title', 'id', 'id', 'id', 'instance_id', 'id', 'current_revision_id', 'id']

SELECT id, date FROM page_revision WHERE page_repository_id = ?
tables ['page_revision']
columns ['id', 'date', 'page_repository_id']

SELECT id FROM page_repository WHERE id = ?
tables ['page_repository']
columns ['id', 'id']

INSERT INTO uuid (trashed, discriminator)
                    VALUES (0, 'pageRevision')
tables ['uuid']
columns []

SELECT LAST_INSERT_ID() as id
tables []
columns []

INSERT INTO page_revision (id, author_id, page_repository_id, title, content, date)
                    VALUES (?, ?, ?, ?, ?, ?)
tables ['page_revision']
columns []

SELECT instance_id
                    FROM page_repository
                    WHERE id = ?
tables ['page_repository']
columns ['instance_id', 'id']

UPDATE page_repository
                            SET current_revision_id = ?
                            WHERE id = ?
tables ['page_repository']
columns ['current_revision_id', 'id']

INSERT INTO uuid (trashed, discriminator)
                    VALUES (0, 'page')
tables ['uuid']
columns []

SELECT LAST_INSERT_ID() as id
tables []
columns []

INSERT INTO page_repository (id, instance_id, license_id, discussions_enabled)
                    VALUES (?, ?, ?, ?)
tables ['page_repository']
columns []

UPDATE page_repository
                    SET forum_id = ?
                    WHERE id = ?
tables ['page_repository']
columns ['forum_id', 'id']

SELECT page_repository.id
                FROM instance, page_repository
                JOIN page_revision ON page_repository.id = page_revision.page_repository_id
                WHERE page_repository.instance_id = instance.id
                AND (? is null or instance.subdomain = ?)
                AND page_repository.current_revision_id = page_revision.id
                ORDER BY page_repository.id
tables ['instance', 'page_repository', 'page_revision']
columns ['id', 'id', 'page_repository_id', 'id', 'current_revision_id', 'id', 'instance_id', 'id', 'subdomain']

SELECT t.name, u.trashed, i.subdomain, e.date, e.current_revision_id, e.license_id, f1.value as title, f2.value as fallback_title
                    FROM entity e
                    JOIN uuid u ON u.id = e.id
                    JOIN instance i ON i.id = e.instance_id
                    JOIN type t ON t.id = e.type_id
                    LEFT JOIN entity_revision_field f1 ON f1.entity_revision_id = e.current_revision_id AND f1.field = 'title'
                    LEFT JOIN entity_revision_field f2 on f2.entity_revision_id = (SELECT id FROM entity_revision WHERE repository_id = ? LIMIT 1) AND f2.field = 'title'
                    WHERE e.id = ?
tables ['entity', 'uuid', 'instance', 'type', 'entity_revision_field', 'entity_revision_field', 'entity_revision']
columns ['name', 'trashed', 'subdomain', 'date', 'current_revision_id', 'license_id', 'value', 'value', 'id', 'id', 'id', 'instance_id', 'id', 'type_id', 'id', 'entity_revision_id', 'current_revision_id', 'field', 'entity_revision_id', 'field', 'id', 'repository_id']

SELECT id FROM entity_revision WHERE repository_id = ?
tables ['entity_revision']
columns ['id', 'repository_id']

SELECT term_taxonomy_id as id FROM term_taxonomy_entity WHERE entity_id = ?
tables ['term_taxonomy_entity']
columns ['term_taxonomy_id', 'entity_id']

SELECT term_taxonomy_id as id
                    FROM (
                        SELECT term_taxonomy_id, entity_id FROM term_taxonomy_entity
                        UNION ALL
                        SELECT t.term_taxonomy_id, l.child_id as entity_id
                            FROM term_taxonomy_entity t
                            JOIN entity_link l ON t.entity_id = l.parent_id
                        UNION ALL
                        SELECT t.term_taxonomy_id, l2.child_id as entity_id
                            FROM term_taxonomy_entity t
                            JOIN entity_link l1 ON t.entity_id = l1.parent_id
                            JOIN entity_link l2 ON l2.parent_id = l1.child_id
                    ) u
                    WHERE entity_id = ?

{'file': '/tmp/database-layer/server/tests/user.rs',
 'is_test_file': True,
 'sql_operator': 'select',
 'sql_type': 'query',
 'sql_query': 'SELECT user_id\n                FROM role_user\n                WHERE user_id = ?\n                and role_id = ?'}

In [77]:
from sqlalchemy import create_engine, MetaData, text
from sqlalchemy.sql import compiler

# Replace with your database connection details
DATABASE_URI = 'mysql+mysqlconnector://root:secret@localhost:3306/serlo'

engine = create_engine(DATABASE_URI)
metadata = MetaData()
metadata.reflect(bind=engine)

# Your SQL statement
sql_statement = """SELECT username, user.email, user.id
        FROM notification
        JOIN user ON user.id = notification.user_id
        WHERE notification.email = 1 AND notification.email_sent = 0 AND notification.seen = 0
        GROUP BY notification.user_id"""

# Parse SQL statement
parsed_statement = text(sql_statement)

# Compile the statement to the dialect specific query
compiled_statement = parsed_statement.compile(engine)

# Introspect compiled statement for tables and columns
tables = set()
columns = set()

print(type(parsed_statement))

# Inspecting the compiled statement
if hasattr(compiled_statement, 'columns'):
    for c in compiled_statement.columns:
        columns.add(c.name)
        if hasattr(c, 'table'):
            tables.add(c.table.name)

print("Tables:", tables)
print("Columns:", columns)

<class 'sqlalchemy.sql.elements.TextClause'>
Tables: set()
Columns: set()