In [4]:
from datetime import date
from sqlalchemy import create_engine
import pandas as pd
import mysql.connector
from IPython.display import display, Markdown, HTML

pd.options.mode.chained_assignment = None
pd.set_option("display.max_rows", None)

engine = create_engine("mysql+mysqlconnector://root:secret@localhost:3306/serlo")

connection = engine.raw_connection()

display(Markdown(f"# Gelöschte Taxonomien, die nicht getrashed wurden"))

# REMEMBER TO USE THE DUMP OF 2023-10-13!!

# Gelöschte Taxonomien, die nicht getrashed wurden

In [8]:
pd.read_sql(
"""
SELECT tt1.id AS child,
    tt2.id AS grandchild,
    tt3.id AS grandgradnchild,
    tt4.id AS grandgrandgrandchild 
        FROM term_taxonomy tt1 
            JOIN uuid u1 ON u1.id = tt1.id 
            JOIN taxonomy t1 ON t1.id = tt1.taxonomy_id 
        JOIN term_taxonomy tt2 ON tt2.parent_id = tt1.id 
            JOIN uuid u2 ON u2.id = tt2.id 
            JOIN taxonomy t2 ON t2.id = tt2.taxonomy_id 
        LEFT JOIN term_taxonomy tt3 ON tt3.parent_id = tt2.id 
            LEFT JOIN uuid u3 ON tt3.id = u3.id
            LEFT JOIN taxonomy t3 ON t3.id = tt3.taxonomy_id 
        LEFT JOIN term_taxonomy tt4 ON tt4.parent_id = tt3.id 
            LEFT JOIN uuid u4 ON tt4.id = u4.id
            LEFT JOIN taxonomy t4 ON t4.id = tt4.taxonomy_id 
        LEFT JOIN term_taxonomy tt5 ON tt5.parent_id = tt4.id 
            LEFT JOIN uuid u5 ON u5.id = tt5.id
            LEFT JOIN taxonomy t5 ON t5.id = tt5.taxonomy_id 
        LEFT JOIN term_taxonomy tt6 ON tt6.parent_id = tt5.id 
            LEFT JOIN uuid u6 ON u6.id = tt6.id
            LEFT JOIN taxonomy t6 ON t6.id = tt6.taxonomy_id 
            WHERE tt1.parent_id in (
                SELECT uuid_id FROM event_log 
                    JOIN uuid ON uuid.id = event_log.uuid_id 
                    JOIN term_taxonomy ON term_taxonomy.id = uuid.id      
                    WHERE event_log.date < "2022-10-13 00:00:00"
                    AND event_log.event_id = 10
                    AND uuid.trashed = 1 
                    AND discriminator = 'taxonomyTerm'
            ) 
            AND (
                u1.trashed = 0 OR
                u2.trashed = 0 OR
                u3.trashed = 0 OR
                u4.trashed = 0 OR
                u5.trashed = 0 OR
                u6.trashed = 0
                )
            AND (
                t1.type_id IN (12, 16) OR
                t2.type_id IN (12, 16) OR
                t3.type_id IN (12, 16) OR
                t4.type_id IN (12, 16) OR
                t5.type_id IN (12, 16) OR
                t6.type_id IN (12, 16)
            )
        ORDER BY tt1.parent_id
""",
    con=engine
)
# TODO: check if types 12 and 16 are the only one that are mapped to exercise folder
# > select distinct(type_id), type.name from taxonomy join type on type_id = type.id;
# +---------+-------------------------+
# | type_id | name                    |
# +---------+-------------------------+
# |      11 | topic                   |
# |      12 | topic-folder            |
# |      13 | subject                 |
# |      14 | curriculum              |
# |      15 | locale                  |
# |      16 | curriculum-topic        |
# |      17 | root                    |
# |      18 | forum-category          |
# |      19 | forum                   |
# |      20 | blog                    |
# |      33 | curriculum-topic-folder |
# +---------+-------------------------+
# 11 rows in set (0.00 sec)
#
# https://github.com/serlo/api.serlo.org/blob/main/packages/server/src/schema/uuid/taxonomy-term/resolvers.ts#L24

     child  grandchild  grandgradnchild grandgrandgrandchild
0    16121       28876              NaN                 None
1    63321       63333              NaN                 None
2    63354       63315              NaN                 None
3    63321       63331              NaN                 None
4    63321       63340              NaN                 None
5    63321       63344              NaN                 None
6    63321       63345              NaN                 None
7    63320       63347              NaN                 None
8    63320       63349              NaN                 None
9    63320       63351              NaN                 None
10   63320       63353              NaN                 None
11   25715       40469          40484.0                 None
12   25715       40470          40481.0                 None
13   40470       40481              NaN                 None
14   40469       40484              NaN                 None
15   32823       33100          33108.0                 None
16   32822       33076          33090.0                 None
17   32822       33076          33093.0                 None
18   32822       33086              NaN                 None
19   32822       33087          33096.0                 None
20   32823       33100          33107.0                 None
21   32823       33101          33113.0                 None
22   32823       33101          33114.0                 None
23   32823       33098              NaN                 None
24   32823       33100          33106.0                 None
25   32823       33102          33115.0                 None
26   33076       33093              NaN                 None
27   33076       33090              NaN                 None
28   33087       33096              NaN                 None
29   32835       33618              NaN                 None
30   32835       33619              NaN                 None
31   32836       33620              NaN                 None
32   32836       33621              NaN                 None
33   32836       33622              NaN                 None
34   32836       33624              NaN                 None
35   32837       33625              NaN                 None
36   32837       33626              NaN                 None
37   32837       33627              NaN                 None
38   32838       33628          33630.0                 None
39   32838       33631              NaN                 None
40   32838       33632              NaN                 None
41   32838       33633              NaN                 None
42   32839       33634              NaN                 None
43   32839       33635              NaN                 None
44   32839       33636              NaN                 None
45   32839       33637              NaN                 None
46   32831       33073              NaN                 None
47   32835       33612          33615.0                 None
48   32831       33116              NaN                 None
49   32831       33117              NaN                 None
50   32831       33119          33120.0                 None
51   32831       33119          33121.0                 None
52   32831       33119          33122.0                 None
53   32831       33119          33123.0                 None
54   32832       33124              NaN                 None
55   32832       33125          33126.0                 None
56   32832       33125          33127.0                 None
57   32832       33125          33129.0                 None
58   32832       33128          33130.0                 None
59   32832       33128          33864.0                 None
60   32832       33587          33588.0                 None
61   32833       33589              NaN                 None
62   32833       33590          33592.0                 None
63   32833       33590          33594.0                 None
64   32835       33616              NaN                 None
65   32835       33612          33614.0                 None
66   32834       33611              NaN                 None
67   32834       33610              NaN                 None
68   32834       33606          33609.0                 None
69   32834       33606          33608.0                 None
70   32834       33606          33607.0                 None
71   32834       33603          33604.0                 None
72   32834       33600          33602.0                 None
73   32834       33600          33601.0                 None
74   32833       33597          33599.0                 None
75   32833       33597          33598.0                 None
76   32833       33595          33596.0                 None
77   32833       33590          33593.0                 None
78   32834       33603          33605.0                 None
79   70623       70636              NaN                 None
80   70625       70639              NaN                 None
81   70625       70638              NaN                 None
82   70623       70637              NaN                 None
83   70621       70635              NaN                 None
84   70621       70634              NaN                 None
85   70622       70640              NaN                 None
86   70622       70641              NaN                 None
87   70624       70642              NaN                 None
88   70624       70643              NaN                 None
89   70626       70644              NaN                 None
90   70626       70645              NaN                 None
91  179136      179137         179138.0                 None