# Helper functions

In [6]:
from IPython.display import display, Markdown, HTML

from sqlalchemy import create_engine
from sqlalchemy import text

engine_local = create_engine("mysql+mysqlconnector://root:secret@localhost:3306/serlo")

class MySQLSession:
    def __init__(self, engine):
        self.engine = engine
        
    def __enter__(self):
        self.connection = self.engine.connect()
        return self
    
    def __exit__(self, *args):
        self.connection.commit()
        self.connection.close()
        
    def execute(self, statement, **kwargs):
        return self.connection.execute(text(statement), kwargs)

    def query(self, statement, **kwargs):
        return list(self.execute(statement, **kwargs))
    
    def begin(self):
        return self.connection.begin()
    
with MySQLSession(engine_local) as session:
    pass

# Uuids in the `uuid` which do not have a corresponding entry in another table

In [7]:
import pandas as pd

tables_for_uuid_types = {
    "comment": "comment",
    "entity": "entity",
    "entityRevision": "entity_revision",
    "page": "page_repository",
    "pageRevision": "page_revision",
    "taxonomyTerm": "term_taxonomy",
    "user": "user"
}

def select_singletons(rows):
    return [row[0] for row in rows]

with MySQLSession(engine_local) as session:
    discriminators = select_singletons(session.query("""
        select distinct discriminator from uuid
    """))

    for discriminator in discriminators:
        if discriminator in tables_for_uuid_types:
            table = tables_for_uuid_types[discriminator]
            
            display(Markdown(f"### Uuids of type `{discriminator}` not having a appropriate entry in `{table}`"))
            
            display(pd.read_sql_query(f"""
                select count(*) as count, uuid.trashed, discriminator from uuid left join {table} on {table}.id = uuid.id where discriminator = "{discriminator}" and {table}.id is null group by trashed
            """, session.connection))

            display(Markdown(f"### Rows in `{table}` not having an appropriate row `uuid`"))

            display(pd.read_sql_query(f"""
                select count(*) as count from {table} left join uuid on {table}.id = uuid.id where uuid.id is null
            """, session.connection))

### Uuids of type `comment` not having a appropriate entry in `comment`

   count  trashed discriminator
0    690        0       comment

### Rows in `comment` not having an appropriate row `uuid`

   count
0      0

### Uuids of type `entity` not having a appropriate entry in `entity`

Empty DataFrame
Columns: [count, trashed, discriminator]
Index: []

### Rows in `entity` not having an appropriate row `uuid`

   count
0      0

### Uuids of type `entityRevision` not having a appropriate entry in `entity_revision`

   count  trashed   discriminator
0   6047        0  entityRevision
1     48        1  entityRevision

### Rows in `entity_revision` not having an appropriate row `uuid`

   count
0      0

### Uuids of type `page` not having a appropriate entry in `page_repository`

Empty DataFrame
Columns: [count, trashed, discriminator]
Index: []

### Rows in `page_repository` not having an appropriate row `uuid`

   count
0      0

### Uuids of type `pageRevision` not having a appropriate entry in `page_revision`

   count  trashed discriminator
0   2200        0  pageRevision

### Rows in `page_revision` not having an appropriate row `uuid`

   count
0      0

### Uuids of type `taxonomyTerm` not having a appropriate entry in `term_taxonomy`

   count  trashed discriminator
0    263        0  taxonomyTerm

### Rows in `term_taxonomy` not having an appropriate row `uuid`

   count
0      0

### Uuids of type `user` not having a appropriate entry in `user`

Empty DataFrame
Columns: [count, trashed, discriminator]
Index: []

### Rows in `user` not having an appropriate row `uuid`

   count
0      0

# Child entities not having a parent

In [8]:
with MySQLSession(engine_local) as session:
    display(pd.read_sql_query("""
        select
            count(entity.id) as count, type.name, uuid.trashed
        from entity
        join uuid on uuid.id = entity.id
        join type on entity.type_id = type.id
        left join entity_link on entity_link.child_id = entity.id
        where
            type.name in ("grouped-text-exercise", "text-solution", "course-page")
            and entity_link.parent_id is null
        group by type.name, uuid.trashed
    """, session.connection))

   count                   name  trashed
0    172            course-page        0
1    553  grouped-text-exercise        0
2      1  grouped-text-exercise        1
3    674          text-solution        0

# Examples

In [9]:
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', 500)

with MySQLSession(engine_local) as session:
    display(pd.read_sql_query("""
        select
            entity.id, type.name, uuid.trashed, instance.subdomain,
            entity.date as date_created,
            count(entity_revision.id) as nr_revisions,
            max(entity_revision.date) as date_last_revision,
            max(entity_revision.id) as last_revision_id,
            JSON_OBJECTAGG(entity_revision_field.field, LEFT(entity_revision_field.value, 200)) as parameters      
        from entity
        join instance on entity.instance_id = instance.id
        join entity_revision on entity_revision.repository_id = entity.id
        join entity_revision_field on entity_revision_field.entity_revision_id = entity.current_revision_id
        join uuid on uuid.id = entity.id
        join type on entity.type_id = type.id
        left join entity_link on entity_link.child_id = entity.id
        where
            type.name in ("grouped-text-exercise", "text-solution", "course-page")
            and entity_link.parent_id is null
        group by entity.id
        limit 20
    """, session.connection))

,id,name,trashed,subdomain,date_created,nr_revisions,date_last_revision,last_revision_id,parameters
0,2739,grouped-text-exercise,0,de,2014-03-01 20:58:46,30,2022-04-25 09:30:03,244151,"{""changes"": ""Grundwissen verlinkt und Lösungsstrategie beschrieben."", ""content"": ""{\""plugin\"":\""exercise\"",\""state\"":{\""content\"":{\""plugin\"":\""rows\"",\""state\"":[{\""plugin\"":\""text\"",\""state\"":[{\""type\"":\""p\"",\""children\"":[{\""type\"":\""math\"",\""src\"":\""f(x)=\\\\frac x{x^2+4}\"",\""inline\"":false,\""children\"":[{\""text\"":\""f(x)""}"
1,2743,grouped-text-exercise,0,de,2014-03-01 20:59:07,12,2022-04-25 15:10:39,244246,"{""changes"": ""Konvertiert, Rechtschreibfehler korrigiert und Gleichungsumfornungen in Plugins gepackt."", ""content"": ""{\""plugin\"":\""exercise\"",\""state\"":{\""content\"":{\""plugin\"":\""rows\"",\""state\"":[{\""plugin\"":\""text\"",\""state\"":[{\""type\"":\""p\"",\""children\"":[{\""type\"":\""math\"",\""src\"":\""f(x)=\\\\frac{x^2}{x^2+16}\"",\""inline\"":false,\""children\"":[{\""text\"":\""""}"
2,2747,grouped-text-exercise,0,de,2014-03-01 20:59:20,16,2022-05-09 16:32:26,245428,"{""changes"": ""Konvertiert"", ""content"": ""{\""plugin\"":\""exercise\"",\""state\"":{\""content\"":{\""plugin\"":\""rows\"",\""state\"":[{\""plugin\"":\""text\"",\""state\"":[{\""type\"":\""p\"",\""children\"":[{\""type\"":\""math\"",\""src\"":\""f(x)=\\\\frac{x}{x^2-4}\"",\""inline\"":false,\""children\"":[{\""text\"":\""f(x""}"
3,2751,grouped-text-exercise,0,de,2014-03-01 20:59:34,14,2022-05-09 16:32:54,245429,"{""changes"": ""Im neuen Editor gespeichert"", ""content"": ""{\""plugin\"":\""exercise\"",\""state\"":{\""content\"":{\""plugin\"":\""rows\"",\""state\"":[{\""plugin\"":\""text\"",\""state\"":[{\""type\"":\""p\"",\""children\"":[{\""type\"":\""math\"",\""src\"":\""f(x)=\\\\frac{x^2}{x^2-16\\\\ }\"",\""inline\"":false,\""children\"":[{\""text""}"
4,2755,grouped-text-exercise,0,de,2014-03-01 20:59:47,14,2022-05-13 10:30:02,245653,"{""changes"": ""Bei Symmetrieverhalten 2 mal = auf der rechten Gleichungsseite gelöscht"", ""content"": ""{\""plugin\"":\""exercise\"",\""state\"":{\""content\"":{\""plugin\"":\""rows\"",\""state\"":[{\""plugin\"":\""text\"",\""state\"":[{\""type\"":\""p\"",\""children\"":[{\""type\"":\""math\"",\""src\"":\""f(x)=\\\\frac{x^2}{(x-0,5)^2}\"",\""inline\"":false,\""children\"":[{\""text""}"
5,2759,grouped-text-exercise,0,de,2014-03-01 21:00:02,14,2022-05-13 11:06:50,245662,"{""changes"": ""Bei den Gleichungen mehrfach = auf der rechten Gleichungsseite entfernt"", ""content"": ""{\""plugin\"":\""exercise\"",\""state\"":{\""content\"":{\""plugin\"":\""rows\"",\""state\"":[{\""plugin\"":\""text\"",\""state\"":[{\""type\"":\""p\"",\""children\"":[{\""type\"":\""math\"",\""src\"":\""f(x)=\\\\frac{x^3}{2(x^2-1)}\"",\""inline\"":false,\""children\"":[{\""text\""""}"
6,2763,grouped-text-exercise,0,de,2014-03-01 21:00:21,20,2022-05-13 11:27:08,245666,"{""changes"": ""in 2.Ableitung = auf der rechten Gleichungsseite entfernt"", ""content"": ""{\""plugin\"":\""exercise\"",\""state\"":{\""content\"":{\""plugin\"":\""rows\"",\""state\"":[{\""plugin\"":\""text\"",\""state\"":[{\""type\"":\""p\"",\""children\"":[{\""type\"":\""math\"",\""src\"":\""f(x)=\\\\frac{2x^2}{2x-1}\"",\""inline\"":false,\""children\"":[{\""text\"":\""f""}"
7,2889,text-solution,0,de,2014-03-01 21:03:18,8,2014-09-03 17:21:26,29126,"{""changes"": """", ""content"": ""{\""plugin\"":\""rows\"",\""state\"":[{\""plugin\"":\""text\"",\""state\"":[{\""type\"":\""h\"",\""level\"":3,\""children\"":[{\""type\"":\""a\"",\""href\"":\""/1505\"",\""children\"":[{\""text\"":\""Ereignisse berechnen\""}]}]}]},{\""plugin\"":\""text\"",\""state\"":[{\""type\"":\""p\""""}"
8,2893,text-solution,0,de,2014-03-01 21:03:22,4,2014-09-03 17:02:45,29125,"{""changes"": """", ""content"": ""{\""plugin\"":\""rows\"",\""state\"":[{\""plugin\"":\""text\"",\""state\"":[{\""type\"":\""h\"",\""level\"":3,\""children\"":[{\""type\"":\""a\"",\""href\"":\""/1501\"",\""children\"":[{\""text\"":\""Ergebnisraum\""}]},{\""text\"":\"" bestimmen\""}]}]},{\""plugin\"":\""text\"",\""state""}"
9,2899,text-solution,0,de,2014-03-01 21:03:23,4,2014-09-03 16:42:33,29124,"{""changes"": """", ""content"": ""{\""plugin\"":\""rows\"",\""state\"":[{\""plugin\"":\""text\"",\""state\"":[{\""type\"":\""h\"",\""level\"":2,\""children\"":[{\""text\"":\""Ereignisse\""}]}]},{\""plugin\"":\""text\"",\""state\"":[{\""type\"":\""p\"",\""children\"":[{\""type\"":\""a\"",\""href\"":\""/1505\"",\""children\"":""}"
10,2903,grouped-text-exercise,0,de,2014-03-01 21:03:23,8,2014-09-03 15:21:36,29107,"{""changes"": """", ""content"": ""{\""plugin\"":\""exercise\"",\""state\"":{\""content\"":{\""plugin\"":\""rows\"",\""state\"":[{\""plugin\"":\""text\"",\""state\"":[{\""type\"":\""p\"",\""children\"":[{\""text\"":\""A und B, aber nicht C\""}]}]}]},\""solution\"":{\""plugin\"":\""solution\"",\""state\"":{\""str""}"
11,2905,grouped-text-exercise,0,de,2014-03-01 21:03:23,6,2014-09-03 15:24:50,29110,"{""changes"": """", ""content"": ""{\""plugin\"":\""exercise\"",\""state\"":{\""content\"":{\""plugin\"":\""rows\"",\""state\"":[{\""plugin\"":\""text\"",\""state\"":[{\""type\"":\""p\"",\""children\"":[{\""text\"":\""Alle drei\""}]}]}]},\""solution\"":{\""plugin\"":\""solution\"",\""state\"":{\""strategy\"":{\""plu""}"
12,2907,grouped-text-exercise,0,de,2014-03-01 21:03:23,6,2014-09-03 15:23:40,29109,"{""changes"": """", ""content"": ""{\""plugin\"":\""exercise\"",\""state\"":{\""content\"":{\""plugin\"":\""rows\"",\""state\"":[{\""plugin\"":\""text\"",\""state\"":[{\""type\"":\""p\"",\""children\"":[{\""text\"":\""Nur A\""}]}]}]},\""solution\"":{\""plugin\"":\""solution\"",\""state\"":{\""strategy\"":{\""plugin\""""}"
13,2909,grouped-text-exercise,0,de,2014-03-01 21:03:23,4,2014-09-03 15:32:39,29114,"{""changes"": """", ""content"": ""{\""plugin\"":\""exercise\"",\""state\"":{\""content\"":{\""plugin\"":\""rows\"",\""state\"":[{\""plugin\"":\""text\"",\""state\"":[{\""type\"":\""p\"",\""children\"":[{\""text\"":\""Höchstens eines\""}]}]}]},\""solution\"":{\""plugin\"":\""solution\"",\""state\"":{\""strategy\""""}"
14,2911,grouped-text-exercise,0,de,2014-03-01 21:03:23,10,2023-09-14 18:42:38,285075,"{""changes"": ""fix formula"", ""content"": ""{\""plugin\"":\""exercise\"",\""state\"":{\""content\"":{\""plugin\"":\""rows\"",\""state\"":[{\""plugin\"":\""text\"",\""state\"":[{\""type\"":\""p\"",\""children\"":[{\""text\"":\""Mindestens eines\""}]}],\""id\"":\""c81ddb84-e39e-4717-99e4-cb6484161d76\""}],\""id\"":\""6""}"
15,2913,grouped-text-exercise,0,de,2014-03-01 21:03:23,8,2023-09-14 19:37:52,285119,"{""changes"": ""formula"", ""content"": ""{\""plugin\"":\""exercise\"",\""state\"":{\""content\"":{\""plugin\"":\""rows\"",\""state\"":[{\""plugin\"":\""text\"",\""state\"":[{\""type\"":\""p\"",\""children\"":[{\""text\"":\""Höchstens zwei\""}]}],\""id\"":\""1941dce7-9735-4d41-9bf1-74bbc05bc611\""}],\""id\"":\""bfd""}"
16,2915,grouped-text-exercise,0,de,2014-03-01 21:03:23,8,2023-09-14 19:04:00,285091,"{""changes"": ""fix formulas"", ""content"": ""{\""plugin\"":\""exercise\"",\""state\"":{\""content\"":{\""plugin\"":\""rows\"",\""state\"":[{\""plugin\"":\""text\"",\""state\"":[{\""type\"":\""p\"",\""children\"":[{\""text\"":\""Mindestens zwei\""}]}],\""id\"":\""bf93702f-7734-4b42-9f18-a091a4b63793\""}],\""id\"":\""2e""}"
17,2917,grouped-text-exercise,0,de,2014-03-01 21:03:23,4,2014-09-03 15:20:04,29105,"{""changes"": """", ""content"": ""{\""plugin\"":\""exercise\"",\""state\"":{\""content\"":{\""plugin\"":\""rows\"",\""state\"":[{\""plugin\"":\""text\"",\""state\"":[{\""type\"":\""p\"",\""children\"":[{\""text\"":\""Genau eines\""}]}]}]},\""solution\"":{\""plugin\"":\""solution\"",\""state\"":{\""strategy\"":{\""p""}"
18,2919,grouped-text-exercise,0,de,2014-03-01 21:03:23,4,2014-09-03 16:08:47,29123,"{""changes"": """", ""content"": ""{\""plugin\"":\""exercise\"",\""state\"":{\""content\"":{\""plugin\"":\""rows\"",\""state\"":[{\""plugin\"":\""text\"",\""state\"":[{\""type\"":\""p\"",\""children\"":[{\""text\"":\""Genau zwei\""}]}]}]},\""solution\"":{\""plugin\"":\""solution\"",\""state\"":{\""strategy\"":{\""pl""}"
19,2921,grouped-text-exercise,0,de,2014-03-01 21:03:23,6,2014-09-03 15:25:49,29111,"{""changes"": """", ""content"": ""{\""plugin\"":\""exercise\"",\""state\"":{\""content\"":{\""plugin\"":\""rows\"",\""state\"":[{\""plugin\"":\""text\"",\""state\"":[{\""type\"":\""p\"",\""children\"":[{\""text\"":\""Keines\""}]}]}]},\""solution\"":{\""plugin\"":\""solution\"",\""state\"":{\""strategy\"":{\""plugin""}"