In [8]:
from getpass import getpass

PASSWORD=getpass("Staging MySQL Password: ")

Staging MySQL Password: ········

In [9]:
PASSWORD_ARG=f"--password={PASSWORD}"

# Dump table definitions

In [11]:
!mysqldump --protocol tcp --port=7777 --user=serlo {PASSWORD_ARG} \
    --set-gtid-purged=OFF --lock-all-tables --no-data \
    --default-character-set=utf8mb4 serlo > /tmp/dump-table-definitions.sql

mysqldump: [Warning] Using a password on the command line interface can be insecure.

In [15]:
!du -h /tmp/dump-table-definitions.sql

52K	/tmp/dump-table-definitions.sql

In [16]:
!head /tmp/dump-table-definitions.sql

-- MySQL dump 10.13  Distrib 8.0.34, for Linux (x86_64)
--
-- Host: localhost    Database: serlo
-- ------------------------------------------------------
-- Server version	8.0.26-google

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;

# Dump Data of local DB

In [34]:
!mysqldump --protocol tcp --port=3306 --user=root --password=secret \
    --set-gtid-purged=OFF --lock-all-tables --no-create-info \
    --default-character-set=latin1 serlo > /tmp/dump-data.sql

mysqldump: [Warning] Using a password on the command line interface can be insecure.

In [35]:
!du -h /tmp/dump-data.sql

44M	/tmp/dump-data.sql

In [36]:
!head -n 40 /tmp/dump-data.sql

-- MySQL dump 10.13  Distrib 8.0.34, for Linux (x86_64)
--
-- Host: localhost    Database: serlo
-- ------------------------------------------------------
-- Server version	8.0.34

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES latin1 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `ad`
--

LOCK TABLES `ad` WRITE;
/*!40000 ALTER TABLE `ad` DISABLE KEYS */;
INSERT INTO `ad` VALUES (1,1,17471,10,'Weltspiegel','Im Weltspiegel zeigt die ARD wöchentlich Berichte und Geschichten aus aller Welt. Die ganze Sendung und einzelne Berichte können online gesehen werden.',3,1288,'http://www.daserste.de/information/politik-weltgeschehen/weltspiegel/index.html',0),(2,1,17473,10,'Auslandsjournal','Im Auslandsjournal zeigt das ZDF wöchentlich Berichte und Geschichten aus aller Welt. Die ganze Sendung und einzelne Berichte können online gesehen werden.',3,1205,'http://www.zdf.de/auslandsjournal/auslandsjournal-5988366.html',0),(3,1,17741,10,'Aspekte','Die Sendung oder einzelne Beiträge des kreativen ZDF Magazins zu Kunst, Kultur und Gesellschaft können online gesehen werden.',3,1319,'http://aspekte.zdf.de/',0),(4,1,17742,10,'Mit offenen Karten','Jede Woche bei arte liest Jean-Christophe Victor \"die politischen Kräfteverhältnisse in der ganzen Welt\" aus detaillierten geographischen Karten.',2,1150,'http://ddc.arte.tv/de',0),(5,1,17743,10,'Leschs Kosmos','Das Wissensmagazin moderiert von Harald Lesch, beleuchtet faszinierende Phänomene rund um die Abenteuer der Wissenschaft und Forschung.',2,1146,'http://leschskosmos.zdf.de',0),(6,1,19638,15480,'arte Afrika','Mit dieser großartigen Internet-Reportage wirft arte einen Blick auf 12 Länder des frankophonen Afrika - eine Einladung sich auf Reisen zu begeben.',1,170,'http://afrika.arte.tv/',0),(9,1,19662,15480,'BeWelcome','Lernen in Begegnung! Wohne als Gast an fast jedem Ort der Welt bei netten und interessanten Leuten und empfange auch selbst Reisende und Bildungshungrige bei Dir zu Hause.',2,1137,'http://www.bewelcome.org/',0),(10,1,19668,15480,'TED','TED is a small nonprofit devoted to Ideas Worth Spreading. On this page, are all the videos from   the big TED conferences where people from three worlds: Technology, Entertainment, Design come together.',2,852,'http://www.ted.com/',0),(11,1,19671,15480,'Europeana','Europeana hat den großen Anspruch, die Bestände in Europas Museen, Bibliotheken und Archiven also das kulturelle Erbe Europas zu digitalisieren und frei zur Verfügung zu stellen. Es gibt bereits ca. 15 Millionen Objekte online zu erkunden.',1,118,'http://www.europeana.eu/',0),(12,1,19673,15480,'Planet Schule','Planet Schule bietet Schulfernsehsendungen zum Ansehen und Herunterladen so wie weitere Lernangebote für Lehrer, Schüler und natürlich alle Bildungsinteressierten.',2,1524,'http://www.planet-schule.de/',0),(13,1,19677,15480,'TUNZA','The magazine by and for young environmentalists all over the world, published by the United Nations Environment Programme. Download all issues in English, Spanish and French for free.',1,169,'http://www.unep.org/Publications/contents/Tunza.asp',0);
/*!40000 ALTER TABLE `ad` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `ad_page`
--

LOCK TABLES `ad_page` WRITE;
/*!40000 ALTER TABLE `ad_page` DISABLE KEYS */;
/*!40000 ALTER TABLE `ad_page` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `attachment_container`
--

# Fix /tmp/dump-data.sql

In [37]:
with open("/tmp/dump-data.sql", "r", encoding="utf8", errors="replace") as file:
    content = file.read()

with open("/tmp/dump-data-fixed.sql", "w", encoding="utf8") as file:
    file.write(content)

In [43]:
!sed -i 's/latin1/utf8mb4/' /tmp/dump-data-fixed.sql

# Drop all data

In [44]:
!mysql --protocol tcp --port=3306 --user=root --password=secret -e "DROP database serlo"

mysql: [Warning] Using a password on the command line interface can be insecure.

In [45]:
!mysql --protocol tcp --port=3306 --user=root --password=secret -e "Create database serlo"

mysql: [Warning] Using a password on the command line interface can be insecure.

In [46]:
!mysql --protocol tcp --port=3306 --user=root --password=secret serlo -e "show tables;"

mysql: [Warning] Using a password on the command line interface can be insecure.

# Load table defintions

In [47]:
!mysql --protocol tcp --port=3306 --user=root --password=secret serlo < /tmp/dump-table-definitions.sql

mysql: [Warning] Using a password on the command line interface can be insecure.

# Load table data

In [48]:
!mysql --protocol tcp --port=3306 --user=root --password=secret serlo < /tmp/dump-data-fixed.sql

mysql: [Warning] Using a password on the command line interface can be insecure.