In [1]:
from datetime import date
from sqlalchemy import create_engine
import pandas as pd
import mysql.connector
from IPython.display import display, Markdown, HTML
import requests

pd.options.mode.chained_assignment = None
pd.set_option("display.max_rows", None)

engine = create_engine("mysql+mysqlconnector://root:secret@localhost:3306/serlo")

connection = engine.raw_connection()

display(Markdown(f"# Gelöschte Taxonomien, die nicht getrashed wurden"))

# REMEMBER TO USE THE DUMP OF 2023-10-13!!

# Gelöschte Taxonomien, die nicht getrashed wurden

In [2]:
taxonomies = pd.read_sql(
    """
SELECT tt1.id AS child, u1.trashed,
    tt2.id AS grandchild, u2.trashed,
    tt3.id AS grandgrandchild, u3.trashed
        FROM term_taxonomy tt1 
            JOIN uuid u1 ON u1.id = tt1.id 
            JOIN taxonomy t1 ON t1.id = tt1.taxonomy_id 
        JOIN term_taxonomy tt2 ON tt2.parent_id = tt1.id 
            JOIN uuid u2 ON u2.id = tt2.id 
            JOIN taxonomy t2 ON t2.id = tt2.taxonomy_id 
        LEFT JOIN term_taxonomy tt3 ON tt3.parent_id = tt2.id 
            LEFT JOIN uuid u3 ON tt3.id = u3.id
            LEFT JOIN taxonomy t3 ON t3.id = tt3.taxonomy_id 
        LEFT JOIN term_taxonomy tt4 ON tt4.parent_id = tt3.id 
            LEFT JOIN uuid u4 ON tt4.id = u4.id
            LEFT JOIN taxonomy t4 ON t4.id = tt4.taxonomy_id 
        LEFT JOIN term_taxonomy tt5 ON tt5.parent_id = tt4.id 
            LEFT JOIN uuid u5 ON u5.id = tt5.id
            LEFT JOIN taxonomy t5 ON t5.id = tt5.taxonomy_id 
        LEFT JOIN term_taxonomy tt6 ON tt6.parent_id = tt5.id 
            LEFT JOIN uuid u6 ON u6.id = tt6.id
            LEFT JOIN taxonomy t6 ON t6.id = tt6.taxonomy_id 
            WHERE tt1.parent_id in (
                SELECT uuid_id FROM event_log 
                    JOIN uuid ON uuid.id = event_log.uuid_id 
                    JOIN term_taxonomy ON term_taxonomy.id = uuid.id      
                    WHERE event_log.date < "2022-10-13 00:00:00"
                    AND event_log.event_id = 10
                    AND uuid.trashed = 1 
                    AND discriminator = 'taxonomyTerm'
            )
            AND (
                u1.trashed = 0 OR
                u2.trashed = 0 OR
                u3.trashed = 0 OR
                u4.trashed = 0 OR
                u5.trashed = 0 OR
                u6.trashed = 0
                )
            AND (
                t1.type_id IN (12, 33) OR
                t2.type_id IN (12, 33) OR
                t3.type_id IN (12, 33) OR
                t4.type_id IN (12, 33) OR
                t5.type_id IN (12, 33) OR
                t6.type_id IN (12, 33)
            )
        ORDER BY tt1.id
""",
    con=engine,
)

taxonomies = taxonomies.where(pd.notnull(taxonomies), 0)
taxonomies["grandgrandchild"] = taxonomies["grandgrandchild"].astype(int)
taxonomies["trashed"] = taxonomies["trashed"].astype(int)

taxonomies

    child  trashed  grandchild  trashed  grandgrandchild  trashed
0   16121        1       28876        0                0        0
1   25715        1       40470        0            40481        0
2   25715        1       40469        0            40484        0
3   32822        1       33076        1            33090        0
4   32822        1       33076        1            33093        0
5   32822        1       33087        0            33096        0
6   32823        0       33101        0            33114        0
7   32823        0       33102        0            33115        0
8   32831        0       33073        0                0        0
9   32831        0       33119        0            33123        0
10  32831        0       33119        0            33122        0
11  32831        0       33119        0            33121        0
12  32831        0       33119        0            33120        0
13  32832        0       33128        0            33864        0
14  32832        0       33587        0            33588        0
15  32833        0       33590        0            33592        0
16  32833        0       33590        0            33593        0
17  32833        0       33590        0            33594        0
18  32833        0       33595        0            33596        0
19  32833        0       33597        0            33598        0
20  32833        0       33597        0            33599        0
21  32834        0       33610        0                0        0
22  32834        0       33606        0            33609        0
23  32834        0       33606        0            33608        0
24  32834        0       33606        0            33607        0
25  32834        0       33603        0            33604        0
26  32834        0       33600        0            33602        0
27  32834        0       33600        0            33601        0
28  32834        0       33603        0            33605        0
29  32835        0       33612        0            33614        0
30  32835        0       33612        0            33615        0
31  33076        1       33093        0                0        0
32  33076        1       33090        0                0        0
33  33087        0       33096        0                0        0
34  40469        0       40484        0                0        0
35  40470        0       40481        0                0        0
36  63320        0       63353        0                0        0
37  63320        0       63351        0                0        0
38  63320        0       63349        0                0        0
39  63320        0       63347        0                0        0
40  63321        0       63345        0                0        0
41  63321        0       63340        0                0        0
42  63321        0       63333        0                0        0
43  63321        0       63331        0                0        0
44  63321        0       63344        0                0        0
45  63354        0       63315        0                0        0
46  70621        0       70634        0                0        0
47  70621        0       70635        0                0        0
48  70622        0       70641        0                0        0
49  70622        0       70640        0                0        0
50  70623        0       70637        0                0        0
51  70623        0       70636        0                0        0
52  70624        0       70642        0                0        0
53  70624        0       70643        0                0        0
54  70625        0       70639        0                0        0
55  70625        0       70638        0                0        0
56  70626        0       70644        0                0        0
57  70626        0       70645        0                0        0

In [3]:
deleted_taxonomies = (
    taxonomies["child"].tolist()
    + taxonomies["grandchild"].tolist()
    + taxonomies["grandgrandchild"].tolist()
)
deleted_taxonomies = list(set(deleted_taxonomies))

user_agent = "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/48.0.2564.116 Safari/537.36"

deleted_taxonomies.sort()
deleted_taxonomies.remove(0)

for uuid in deleted_taxonomies:
    print(f"https://www.google.com/search?q=site:https://serlo.org/{uuid}")

https://www.google.com/search?q=site:https://serlo.org/16121
https://www.google.com/search?q=site:https://serlo.org/25715
https://www.google.com/search?q=site:https://serlo.org/28876
https://www.google.com/search?q=site:https://serlo.org/32822
https://www.google.com/search?q=site:https://serlo.org/32823
https://www.google.com/search?q=site:https://serlo.org/32831
https://www.google.com/search?q=site:https://serlo.org/32832
https://www.google.com/search?q=site:https://serlo.org/32833
https://www.google.com/search?q=site:https://serlo.org/32834
https://www.google.com/search?q=site:https://serlo.org/32835
https://www.google.com/search?q=site:https://serlo.org/33073
https://www.google.com/search?q=site:https://serlo.org/33076
https://www.google.com/search?q=site:https://serlo.org/33087
https://www.google.com/search?q=site:https://serlo.org/33090
https://www.google.com/search?q=site:https://serlo.org/33093
https://www.google.com/search?q=site:https://serlo.org/33096
https://www.google.com/search?q=site:https://serlo.org/33101
https://www.google.com/search?q=site:https://serlo.org/33102
https://www.google.com/search?q=site:https://serlo.org/33114
https://www.google.com/search?q=site:https://serlo.org/33115
https://www.google.com/search?q=site:https://serlo.org/33119
https://www.google.com/search?q=site:https://serlo.org/33120
https://www.google.com/search?q=site:https://serlo.org/33121
https://www.google.com/search?q=site:https://serlo.org/33122
https://www.google.com/search?q=site:https://serlo.org/33123
https://www.google.com/search?q=site:https://serlo.org/33128
https://www.google.com/search?q=site:https://serlo.org/33587
https://www.google.com/search?q=site:https://serlo.org/33588
https://www.google.com/search?q=site:https://serlo.org/33590
https://www.google.com/search?q=site:https://serlo.org/33592
https://www.google.com/search?q=site:https://serlo.org/33593
https://www.google.com/search?q=site:https://serlo.org/33594
https://www.google.com/search?q=site:https://serlo.org/33595
https://www.google.com/search?q=site:https://serlo.org/33596
https://www.google.com/search?q=site:https://serlo.org/33597
https://www.google.com/search?q=site:https://serlo.org/33598
https://www.google.com/search?q=site:https://serlo.org/33599
https://www.google.com/search?q=site:https://serlo.org/33600
https://www.google.com/search?q=site:https://serlo.org/33601
https://www.google.com/search?q=site:https://serlo.org/33602
https://www.google.com/search?q=site:https://serlo.org/33603
https://www.google.com/search?q=site:https://serlo.org/33604
https://www.google.com/search?q=site:https://serlo.org/33605
https://www.google.com/search?q=site:https://serlo.org/33606
https://www.google.com/search?q=site:https://serlo.org/33607
https://www.google.com/search?q=site:https://serlo.org/33608
https://www.google.com/search?q=site:https://serlo.org/33609
https://www.google.com/search?q=site:https://serlo.org/33610
https://www.google.com/search?q=site:https://serlo.org/33612
https://www.google.com/search?q=site:https://serlo.org/33614
https://www.google.com/search?q=site:https://serlo.org/33615
https://www.google.com/search?q=site:https://serlo.org/33864
https://www.google.com/search?q=site:https://serlo.org/40469
https://www.google.com/search?q=site:https://serlo.org/40470
https://www.google.com/search?q=site:https://serlo.org/40481
https://www.google.com/search?q=site:https://serlo.org/40484
https://www.google.com/search?q=site:https://serlo.org/63315
https://www.google.com/search?q=site:https://serlo.org/63320
https://www.google.com/search?q=site:https://serlo.org/63321
https://www.google.com/search?q=site:https://serlo.org/63331
https://www.google.com/search?q=site:https://serlo.org/63333
https://www.google.com/search?q=site:https://serlo.org/63340
https://www.google.com/search?q=site:https://serlo.org/63344
https://www.google.com/search?q=site:https://serlo.org/63345
https://www.google.com/search?q=site:https://serlo.org/63347
https://www.google.com/search?q=site:https://serlo.org/63349
https://www.google.com/search?q=site:https://serlo.org/63351
https://www.google.com/search?q=site:https://serlo.org/63353
https://www.google.com/search?q=site:https://serlo.org/63354
https://www.google.com/search?q=site:https://serlo.org/70621
https://www.google.com/search?q=site:https://serlo.org/70622
https://www.google.com/search?q=site:https://serlo.org/70623
https://www.google.com/search?q=site:https://serlo.org/70624
https://www.google.com/search?q=site:https://serlo.org/70625
https://www.google.com/search?q=site:https://serlo.org/70626
https://www.google.com/search?q=site:https://serlo.org/70634
https://www.google.com/search?q=site:https://serlo.org/70635
https://www.google.com/search?q=site:https://serlo.org/70636
https://www.google.com/search?q=site:https://serlo.org/70637
https://www.google.com/search?q=site:https://serlo.org/70638
https://www.google.com/search?q=site:https://serlo.org/70639
https://www.google.com/search?q=site:https://serlo.org/70640
https://www.google.com/search?q=site:https://serlo.org/70641
https://www.google.com/search?q=site:https://serlo.org/70642
https://www.google.com/search?q=site:https://serlo.org/70643
https://www.google.com/search?q=site:https://serlo.org/70644
https://www.google.com/search?q=site:https://serlo.org/70645