In [33]:
import pandas as pd
import mysql.connector

from IPython.display import display, Markdown, HTML

db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="secret",
    port="3306",
    database="serlo"
)

def query(sql):
    c = db.cursor()
    c.execute(sql)
    
    return c.fetchall()

In [30]:
d = pd.read_sql("""
    select distinct(user.username) from user
    join event_log on event_log.actor_id = user.id
    where user.username not regexp '^[a-zA-Z0-9_\-]{2,}$'
""", db)
d

            username
0  HokkaidokÃƒÂ¼rbis