In [1]:
from datetime import date
import pandas as pd
import mysql.connector
pd.options.mode.chained_assignment = None

from IPython.display import display, Markdown, HTML

pd.set_option('display.max_rows', 100)

/Users/cj/.asdf/installs/python/3.9.1/lib/python3.9/site-packages/pandas/compat/__init__.py:109: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="secret",
    port="3306",
    database="serlo",
    charset="latin1"
)

def cached(func):
    cache = dict()
    
    def return_func(arg):
        if (arg in cache):
            return cache[arg]
        else:
            result = func(arg)
            cache[arg] = result
            return result
    
    return return_func

def query(sql):
    c = db.cursor()
    c.execute(sql)
    
    return c.fetchall()

def querySingleton(sql):
    return [ x[0] for x in query(sql) ]

@cached
def getParent(termId):
    return querySingleton("""
        select parent_id from term_taxonomy where id = %s;
    """ % termId)[0]

def getTermName(termId):
    return querySingleton("""
        select term.name from term_taxonomy
        join term on term.id = term_taxonomy.term_id
        where term_taxonomy.id = %s;
    """ % termId)[0]

@cached
def getSubject(termId):
    if int(termId) in [79733, 81317, 20852, 87814, 87827, 85477, 87860, 75049, 76750, 87496, 75678, 91252, 91253]:
        return "PrÃ¼fungsbereich Mathematik"
    if int(termId) in [106082]:
        return getTermName(termId)
    
    parent = getParent(termId)
    grandparent = getParent(parent)
    
    if (parent == 106081):
        return getTermName(termId)
    
    return getSubject(parent) if grandparent != None else getTermName(termId)

@cached
def getSubjectFromUuid(uuid):
    taxonomyTerms = querySingleton(f"""
        select term_taxonomy_id from term_taxonomy_entity
        where term_taxonomy_entity.entity_id  = {uuid};
    """)
    
    if len(taxonomyTerms) > 0:
        return getSubject(taxonomyTerms[0])

    parents = querySingleton(f"""
        select parent_id from entity_link
        where entity_link.child_id  = {uuid};
    """)
    
    if len(parents) > 0:
        return getSubjectFromUuid(parents[0])
    
    return None

In [3]:
import json

json.dumps(querySingleton("""
select distinct(entity_link.parent_id ) from event_log join entity_link on entity_link.child_id = event_log.uuid_id where event_log.event_id = 4 and event_log.date > Date("2020-02-01");
"""));

In [4]:
def read_event_log():
    df = pd.read_sql("""
        select event_log.id, event_log.actor_id, event_log.date, user.username, event_log.event_id, event.name, event_parameter_uuid.uuid_id from event_log
        join user on user.id = event_log.actor_id                    
        join event_parameter on event_parameter.log_id = event_log.id                            
        join event_parameter_uuid on event_parameter_uuid.event_parameter_id = event_parameter.id
        join event on event.id = event_log.event_id
        and event_log.date > "2022-01-01"
        and user.username != "Legacy";
    """, db)
    df.set_index("id", inplace=True)
    df.rename(columns={"uuid_id": "uuid"}, inplace=True)
    df["subject"] = df["uuid"].map(getSubjectFromUuid)
    return df

event_log = read_event_log()
event_log.head(10)

,actor_id,date,username,event_id,name,uuid,subject
id,,,,,,,
444870,34105,2022-01-04 11:24:19,Knorrke,9,discussion/comment/create,234449,None
444980,34105,2022-01-04 19:52:57,Knorrke,9,discussion/comment/create,234485,None
444992,34105,2022-01-04 20:03:07,Knorrke,9,discussion/comment/create,234484,None
445060,164877,2022-01-05 15:17:01,Marc_Ho,9,discussion/comment/create,234534,None
445088,234578,2022-01-05 15:21:21,Outaspace,9,discussion/comment/create,234602,None
445118,169563,2022-01-05 19:09:20,Peter,9,discussion/comment/create,234581,None
445121,169563,2022-01-05 19:12:14,Peter,9,discussion/comment/create,234602,None
446280,235229,2022-01-10 14:10:12,Strebbbiiiii,9,discussion/comment/create,235228,None
446281,235210,2022-01-10 14:11:30,Destreber,9,discussion/comment/create,235228,None
446282,235229,2022-01-10 14:12:45,Strebbbiiiii,9,discussion/comment/create,235228,None

In [5]:
display(Markdown(f"### Aktueller Stand der Statistik: {date.today()}"))

### Aktueller Stand der Statistik: 2022-11-29

# 1. Top Bearbeitungen in 2022

In [6]:
edits_df = event_log[event_log["event_id"]== 5]
top_edits_df =  edits_df.groupby(by = ['actor_id', 'username'], as_index = False).count()
top_edits_df = top_edits_df.nlargest(100, 'uuid')
top_edits_df = top_edits_df.drop(['date', 'subject', 'event_id', 'name'], axis=1)
top_edits_df = top_edits_df.rename(columns={"uuid": "edits"})

In [7]:
top_edits_df.reset_index()

    index  actor_id                      username  edits
0      78    240298                 Felix_Eccardt   4882
1      11     64900                      Kowalsky   1789
2      38    148701                Sascha_Lill_95   1125
3      16     87602                         Karin   1051
4      40    163773                     LinaMaria   1038
5      43    169563                         Peter    627
6      72    235184                       korbi_d    545
7      50    197401                Annika-Hemlein    473
8      12     70932                     metzgaria    450
9      14     73435                      kathongi    449
10     58    225065                        Habiba    447
11     32    146667                        BerndF    409
12     79    240311                      Selin_11    376
13     49    196775                       Corinna    301
14      6     32543                         botho    223
15     66    231271                  RalfReinecke    206
16      9     63374                      ClaudiaR    131
17     56    223895              tamara_proebster    121
18     21    121863                        hwlang    118
19     82    241896                        Adonis    113
20     17     92258                        anne22    101
21    122    260115                  Nadine_Gabel     88
22     68    233549                LucaWellhausen     78
23    116    258048                     yanncloud     75
24     83    241911                      Parththi     74
25    111    253695                         Hager     73
26      1       266                        Renate     63
27     26    138268                        Muutos     55
28    101    247271               Lilith_Diringer     45
29     27    139662                         Paul_     44
30     64    226932                        Flo123     40
31     69    234394                    uebermario     39
32     89    243301                      Katherin     39
33    115    255693               AlessandroSacco     38
34     80    240644                  ridaazad384d     37
35     57    224659                         bchij     36
36     22    129040                        Gesine     35
37     18    102817                      wendrock     33
38     25    131536                           dal     32
39     15     81950                        Menuja     26
40     23    129379                         opamp     26
41      7     34105                       Knorrke     24
42     19    105942                        Nanami     23
43     37    147917                         Astor     23
44     62    226308                          Kaje     22
45     10     63556                       Kajetan     21
46     33    146880                      Larisa_J     20
47     46    179621                     MGoeldner     20
48     55    223665                       Lavanya     20
49     86    242814              Vanessa_Brighina     20
50     67    232733                       ThomasG     19
51      4     26217                         Kulla     17
52      3     18981                      wolfgang     16
53     29    145030                      Adrian_B     15
54     48    194670                         Wo_Fo     13
55    112    254778           Andreas_Hjiantoniou     12
56      2       598                    aschreiber     10
57     94    245439               katharina_hauck     10
58     34    146979                       robster      9
59     54    222056                        ABC19Z      9
60     59    225067                          Max_      9
61    103    248575                       Thanuja      9
62     95    245442                 matheprofi123      8
63    114    255281                      Roland_K      8
64     73    235210                     Destreber      7
65    104    248582                        MiNei1      7
66    129    261693                     Powerjoko      7
67     42    164877                       Marc_Ho      6
68     44    178145                  CarolinJaser      6
69    123    260326                SophiaBockmeir      6
70    125    260904                    mohammad22      6
71      0        10                         Simon      5
72     81    241729                       maxeder      5
73     92    245374                      rabaer95      5
74    113    254863                       Mara_17      5
75     20    108729                       Maria_F      4
76     24    129613                     MaxHerzog      4
77     45    178807                        HugoBT      4
78     93    245430                       nicohue      4
79     96    245444                     tvetter17      4
80    106    249341                    MelanieKop      4
81      5     27693                          Nish      3
82     13     72621                   linglangloo      3
83     28    141826  Renate_mit_vielen_Interessen      3
84     31    146133                 WandaPaetzold      3
85     39    154621                       BaRockA      3
86     41    164226                      kdkeller      3
87     53    208330                      bleacher      3
88     60    225081                   vanessa2021      3
89    127    261361                     konstanze      3
90     52    204201                    melanie-ph      2
91     61    225323                  randomName23      2
92     65    230048                      olivia__      2
93     70    234680                    matthias_t      2
94     75    238635                  Mummenschanz      2
95     76    238757                       leogato      2
96     84    242628                        mimuld      2
97     85    242802                           Aly      2
98     88    243237                         Almut      2
99     90    245127                       Alisa13      2

# 2. Top Reviewer* Innen in 2022

In [8]:
reviews_df = event_log[(event_log["event_id"]== 6) |  (event_log["event_id"] == 11)]
top_reviews_df =  reviews_df.groupby(by = ['actor_id', 'username'], as_index = False).count()
top_reviews_df = top_reviews_df.nlargest(100, 'uuid')
top_reviews_df = top_reviews_df.drop(['date', 'subject', 'event_id', 'name'], axis=1)
top_reviews_df = top_reviews_df.rename(columns={"uuid": "reviews"})

In [9]:
top_reviews_df.reset_index()

    index  actor_id         username  reviews
0      38    240298    Felix_Eccardt     4279
1      12     87602            Karin     2115
2      25    169563            Peter     1712
3      23    148701   Sascha_Lill_95     1542
4       8     64900         Kowalsky     1188
5      24    163773        LinaMaria     1085
6       9     70932        metzgaria      899
7      10     73435         kathongi      491
8      30    197401   Annika-Hemlein      470
9      29    196775          Corinna      368
10     33    231271     RalfReinecke      206
11      5     32543            botho      152
12     13     92258           anne22      120
13     14    105942           Nanami      113
14     34    233549   LucaWellhausen       78
15     50    258048        yanncloud       66
16     36    235184          korbi_d       56
17     39    240311         Selin_11       48
18     51    260115     Nadine_Gabel       46
19     11     81950           Menuja       45
20     15    121863           hwlang       43
21     16    129040           Gesine       39
22      1       266           Renate       37
23     19    131536              dal       32
24     17    129379            opamp       26
25     21    139662            Paul_       26
26     32    226308             Kaje       22
27      7     63556          Kajetan       21
28      6     63374         ClaudiaR       17
29      2     18981         wolfgang       17
30      4     27693             Nish       14
31      3     26217            Kulla       14
32     46    245439  katharina_hauck       10
33     22    146133    WandaPaetzold        9
34     47    245442    matheprofi123        8
35     52    260326   SophiaBockmeir        6
36      0        10            Simon        5
37     44    245374         rabaer95        5
38     48    245444        tvetter17        4
39     20    137965       Rubikscube        4
40     18    129613        MaxHerzog        4
41     45    245430          nicohue        4
42     49    248582           MiNei1        3
43     28    178807           HugoBT        3
44     53    261693        Powerjoko        2
45     43    245335     Noravschenck        2
46     42    245127          Alisa13        2
47     41    243237            Almut        2
48     40    242628           mimuld        2
49     37    238757          leogato        1
50     35    234719         tionselo        1
51     31    225067             Max_        1
52     26    169868        hxwalther        1
53     27    178145     CarolinJaser        1

# 3. Top Kommentator* Innen in 2022

In [10]:
comments_df = event_log[event_log["event_id"]== 9]
top_comments_df =  comments_df.groupby(by = ['actor_id', 'username'], as_index = False).count()
top_comments_df = top_comments_df.nlargest(100, 'uuid')
top_comments_df = top_comments_df.drop(['date', 'subject', 'event_id', 'name'], axis=1)
top_comments_df = top_comments_df.rename(columns={"uuid": "comments"})

In [11]:
top_comments_df.reset_index()

    index  actor_id           username  comments
0      16    169563              Peter       127
1       5     64900           Kowalsky        45
2       7     73435           kathongi        20
3       0       266             Renate        12
4      11    146667             BerndF         8
5       6     70932          metzgaria         7
6      56    259265           DB_BR_88         4
7       4     34105            Knorrke         4
8      18    224659              bchij         3
9      15    164877            Marc_Ho         3
10     33    240298      Felix_Eccardt         3
11     37    242747             GG-Jup         3
12     34    241451        hodenkobold         2
13     21    234578          Outaspace         2
14     30    238783           jojouser         2
15     42    243565             Andrew         2
16     48    247614               Dszi         2
17     27    237838        EinhornWORT         2
18     57    260442      Gerrit_Casper         2
19     24    235229       Strebbbiiiii         2
20     23    235210          Destreber         2
21     29    238687                Rey         2
22     12    147624          StefanL38         2
23     19    229064              Iddly         2
24      2     18981           wolfgang         2
25      8    131536                dal         2
26     14    163773          LinaMaria         2
27     13    147917              Astor         2
28     22    235184            korbi_d         1
29     45    244874              MaxiP         1
30     46    245203         One_Sleeve         1
31     47    246846              oiven         1
32     49    247993             AG5675         1
33     50    249418           Ma_mathe         1
34     51    252499      viciouskid103         1
35     43    244222             bormen         1
36     52    252654           wiebidde         1
37     53    254686  der_halbblutprinz         1
38     54    255286          tasutafat         1
39     55    258048          yanncloud         1
40      3     27693               Nish         1
41     44    244809           Cegriphy         1
42     40    243008               asda         1
43      9    139662              Paul_         1
44     41    243381           fmueller         1
45     20    229663         vsievybyky         1
46     39    242926            yyx2929         1
47     38    242814   Vanessa_Brighina         1
48     10    146133      WandaPaetzold         1
49     36    242326          Daniel123         1
50     35    242058              Gyolo         1
51     32    239736        Goliath6969         1
52     31    239144             Mr_MST         1
53      1     15473             inyono         1
54     28    238123           ih8mathe         1
55     17    178807             HugoBT         1
56     26    237748        mmmh_lernen         1
57     25    235399            Simon98         1
58     58    261268           Roxana_K         1

# 4. Top Architekt* Innen in 2022

In [12]:
architects_df = event_log[(event_log["event_id"]== 1) |  (event_log["event_id"] == 2) | (event_log["event_id"]== 12) |  (event_log["event_id"] == 15)|  (event_log["event_id"] == 17)]
top_architects_df =  architects_df.groupby(by = ['actor_id', 'username'], as_index = False).count()
top_architects_df = top_architects_df.nlargest(100, 'uuid')
top_architects_df = top_architects_df.drop(['date', 'subject', 'event_id', 'name'], axis=1)
top_architects_df = top_architects_df.rename(columns={"uuid": "taxonomy edits"})

In [13]:
top_architects_df.reset_index()

    index  actor_id                      username  taxonomy edits
0      51    240298                 Felix_Eccardt             439
1       7     70932                     metzgaria             316
2      10     87602                         Karin             293
3      25    163773                     LinaMaria             216
4       8     73435                      kathongi             149
5      52    240311                      Selin_11             142
6       6     64900                      Kowalsky             110
7      23    148701                Sascha_Lill_95              99
8      38    225065                        Habiba              88
9      55    241896                        Adonis              53
10     30    196775                       Corinna              42
11     48    235184                       korbi_d              35
12     56    241911                      Parththi              29
13     26    169563                         Peter              23
14     15    129040                        Gesine              22
15     66    247271               Lilith_Diringer              19
16     11     92258                        anne22              17
17      9     81950                        Menuja              16
18     62    243301                      Katherin              15
19     14    121863                        hwlang              15
20     53    240644                  ridaazad384d              15
21     75    260115                  Nadine_Gabel              13
22     36    223895              tamara_proebster              13
23     37    224659                         bchij              12
24      0       266                        Renate              12
25     67    248575                       Thanuja               9
26     34    222056                        ABC19Z               9
27     47    234394                    uebermario               9
28     59    242814              Vanessa_Brighina               8
29     73    253695                         Hager               8
30     54    241729                       maxeder               7
31     22    146667                        BerndF               7
32     69    249341                    MelanieKop               7
33      3     32543                         botho               7
34     13    108729                       Maria_F               6
35      4     63374                      ClaudiaR               6
36      2     26217                         Kulla               6
37     45    231271                  RalfReinecke               5
38     49    237027                  Leseratte_22               5
39     46    233549                LucaWellhausen               5
40     39    225067                          Max_               5
41     27    178145                  CarolinJaser               4
42     12    102817                      wendrock               4
43     68    248582                        MiNei1               4
44     21    145030                      Adrian_B               4
45     18    138268                        Muutos               4
46     74    258048                     yanncloud               3
47     31    197401                Annika-Hemlein               3
48     29    194670                         Wo_Fo               3
49     28    178807                        HugoBT               3
50     43    230048                      olivia__               3
51     40    225323                  randomName23               3
52     35    223665                       Lavanya               3
53      1     18981                      wolfgang               2
54     70    249972                filthymetazoan               2
55     65    247104                       L_Train               2
56      5     63556                       Kajetan               2
57     72    253037                        collar               2
58     20    141826  Renate_mit_vielen_Interessen               2
59     42    226932                        Flo123               2
60     61    243237                         Almut               2
61     16    129379                         opamp               1
62     77    261661                  Tante-Agathe               1
63     71    251535                QuaBIS-Leipzig               1
64     17    131536                           dal               1
65     76    261361                     konstanze               1
66     41    226308                          Kaje               1
67     60    243008                          asda               1
68     64    244438                        KarinL               1
69     63    243443       erklaerung-und-mehr-org               1
70     19    139662                         Paul_               1
71     58    242628                        mimuld               1
72     57    242405                   Rosandro200               1
73     24    154621                       BaRockA               1
74     50    239111                       L_U-B_E               1
75     32    204375                       Rodowie               1
76     33    208330                      bleacher               1
77     44    230481                       KAhrens               1
78     78    261693                     Powerjoko               1

# 5. Anzahl der Bearbeitungen in 2022

In [14]:
len(edits_df)

16478

# 6. Anzahl der Bearbeitungen pro Fach in 2022

In [15]:
edits_per_subject_df = edits_df.groupby(by = ["subject"], as_index = False).count()
edits_per_subject_df = edits_per_subject_df.drop(["actor_id", "date", "username", "event_id", "name"], axis = 1)
edits_per_subject_df = edits_per_subject_df.rename(columns = {"uuid": "Anzahl Bearbeitungen"})

In [16]:
edits_per_subject_df.sort_values(by = ["Anzahl Bearbeitungen"], ascending = False)

                                subject  Anzahl Bearbeitungen
21                                Mathe                  7336
20                                 Math                  1562
32                         Testbereich!                  1467
27           PrÃ¼fungsbereich Mathematik                  1122
14                           Informatik                   779
24                       Nachhaltigkeit                   778
2                             Community                   507
19                         MatemÃÂ¡ticas                   354
0                              Biologie                   298
4              Deutsch als Fremdsprache                   262
1                                Chemie                   250
8      Estudios en DiÃÂ¡sporas Africanas                   231
25                               Physik                   191
12                           Geographie                   180
6                              Englisch                   178
18                            Lerntipps                   139
9                              Forensik                    87
10                         FranzÃÂ¶sisch                    65
33                           Wirtschaft                    65
34             Ã Â®ÂÃ Â®Â²Ã Â®ÂÃ Â¯ÂÃ Â®ÂÃ Â®Â£Ã Â®Â®Ã Â¯Â                    51
17                               Latein                    43
22                        Medienbildung                    34
31                             Spanisch                    28
15                          Italienisch                    24
30              Sostenibilidad aplicada                    22
3                               Deutsch                    22
23                                Musik                    21
26                              Politik                    19
13                           Geschichte                    14
29                             Religion                     7
5   Deutsch als Zweit- und Fremdsprache                     7
16                        Kommunikation                     6
28                          Psychologie                     6
7           English for Spanish Natives                     2
11                    FÃÂ¤cher im Aufbau                     1