In [149]:
import pandas as pd
import json

from serlo.mysql import db

In [150]:
# To look for other entity types e.g. ExerciseGroups (id=4) change type_id.
grouped_exercises = pd.read_sql("""
    SELECT entity.id
    FROM entity
    JOIN uuid on entity.id = uuid.id
    WHERE type_id = 5
        AND uuid.trashed = 0;
""", db)
grouped_exercises.fillna(0, inplace=True)
grouped_exercises.head()

/tmp/ipykernel_82243/1036390929.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  grouped_exercises = pd.read_sql("""

     id
0  2219
1  2225
2  2229
3  2233
4  2239

In [151]:
entities = pd.read_sql("""
    select entity.id, entity_revision_field.value
    from entity
    join uuid on uuid.id = entity.id
    join entity_revision_field on entity_revision_field.entity_revision_id = entity.current_revision_id
    where entity_revision_field.field = "content" and uuid.trashed = 0
""", db)
entities.fillna(0, inplace=True)

/tmp/ipykernel_82243/719409883.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  entities = pd.read_sql("""

In [152]:
def list_injections(content, inj_list):
    if isinstance(content, dict):
        if "plugin" in content and content["plugin"] == "injection":
            inj_list.append(content["state"])
        else:
            for child in content.values():
                list_injections(child, inj_list)
    elif isinstance(content, list):
        for child in content:
            list_injections(child, inj_list)

In [153]:
entity_inj_dict = dict()
for row in entities.iterrows():
    entity_id = row[1].id
    try:
        entity = json.loads(row[1].value)
        inj_list = []
        list_injections(entity, inj_list)
        entity_inj_dict[entity_id] =  inj_list
    except:
        print (row)

(3711, id                                             18865
value    https://www.youtube.com/watch?v=cIzM2XBduuY
Name: 3711, dtype: object)
(3992, id                                            24037
value    http://www.youtube.com/watch?v=90CP8QPV-uc
Name: 3992, dtype: object)
(3993, id                                            24039
value    http://www.youtube.com/watch?v=9NTbBn2slJc
Name: 3993, dtype: object)
(3994, id                                            24041
value    http://www.youtube.com/watch?v=R1bZazTLRK4
Name: 3994, dtype: object)
(3995, id                                            24043
value    http://www.youtube.com/watch?v=B-vaREvWcc0
Name: 3995, dtype: object)
(3996, id                                            24048
value    http://www.youtube.com/watch?v=OBA2lHCh4qw
Name: 3996, dtype: object)
(3997, id                                            24050
value    http://www.youtube.com/watch?v=Nt-EiXjuh_o
Name: 3997, dtype: object)
(3998, id                                            24083
value    http://www.youtube.com/watch?v=g06iK1jCcLk
Name: 3998, dtype: object)
(3999, id                                            24163
value    http://www.youtube.com/watch?v=jIvNR1gtbK8
Name: 3999, dtype: object)
(4000, id                                            24393
value    http://www.youtube.com/watch?v=EuSk1PqqepM
Name: 4000, dtype: object)
(4001, id                                            24398
value    http://www.youtube.com/watch?v=tO-KaJ0RQt8
Name: 4001, dtype: object)
(4002, id                                            24400
value    http://www.youtube.com/watch?v=xiQpPsv5ZY8
Name: 4002, dtype: object)
(4003, id                                            24402
value    http://www.youtube.com/watch?v=hE6-xtnyM3Y
Name: 4003, dtype: object)
(4004, id                                            24405
value    http://www.youtube.com/watch?v=jZERv3DRAa0
Name: 4004, dtype: object)
(4005, id                                            24408
value    http://www.youtube.com/watch?v=LJ_gqqsGf7A
Name: 4005, dtype: object)
(4006, id                                            24411
value    http://www.youtube.com/watch?v=I9pwewK0em4
Name: 4006, dtype: object)
(4007, id                                            24415
value    http://www.youtube.com/watch?v=wya38r59aWE
Name: 4007, dtype: object)
(4008, id                                            24417
value    http://www.youtube.com/watch?v=cLzdbPXMXmk
Name: 4008, dtype: object)
(4009, id                                            24425
value    http://www.youtube.com/watch?v=jZERv3DRAa0
Name: 4009, dtype: object)
(4060, id                                             26357
value    https://www.youtube.com/watch?v=LZJMZ7lk6TE
Name: 4060, dtype: object)
(4142, id                                             27828
value    https://www.youtube.com/watch?v=x95-UrvTuOk
Name: 4142, dtype: object)
(4175, id                                             28144
value    https://www.youtube.com/watch?v=ApYNMAmaR24
Name: 4175, dtype: object)
(4399, id                                             31702
value    https://www.youtube.com/watch?v=RvUf4AD8SeI
Name: 4399, dtype: object)
(4451, id                                             32321
value    https://www.youtube.com/watch?v=p7vgybC1zA0
Name: 4451, dtype: object)
(4548, id                                             33479
value    https://www.youtube.com/watch?v=ekxQNZYN7P0
Name: 4548, dtype: object)
(4953, id                                             37615
value    https://www.youtube.com/watch?v=SCJ7nzKwnYo
Name: 4953, dtype: object)
(5089, id                                             40742
value    https://www.youtube.com/watch?v=u77xncaw7qo
Name: 5089, dtype: object)
(5090, id                                             40744
value    https://www.youtube.com/watch?v=bq_7eAWYDOA
Name: 5090, dtype: object)
(5091, id                                             40746
value    https://www.youtube.com/watch?v=CTUsc50-T9o
Name: 5091, dtype: object)
(5452, id                                             44835
value    https://www.youtube.com/watch?v=kYNXAjamtaM
Name: 5452, dtype: object)
(5453, id                                             44836
value    https://www.youtube.com/watch?v=B8eVrg1ki5g
Name: 5453, dtype: object)
(5454, id                                             44840
value    https://www.youtube.com/watch?v=doD7vx_-twg
Name: 5454, dtype: object)
(5455, id                                             44843
value    https://www.youtube.com/watch?v=u_X4hlxYHJo
Name: 5455, dtype: object)
(5456, id                                             44845
value    https://www.youtube.com/watch?v=1FQRguXX9YQ
Name: 5456, dtype: object)
(5548, id                                             46003
value    https://www.youtube.com/watch?v=33pY7VfzAOI
Name: 5548, dtype: object)
(5549, id                                             46011
value    https://www.youtube.com/watch?v=fSiAin32Clw
Name: 5549, dtype: object)
(5550, id                                             46013
value    https://www.youtube.com/watch?v=5xWWcOILONw
Name: 5550, dtype: object)
(5720, id                                             48286
value    https://www.youtube.com/watch?v=8dAtL1LFduc
Name: 5720, dtype: object)
(5721, id                                             48301
value    https://www.youtube.com/watch?v=l7WknEvcVQk
Name: 5721, dtype: object)
(5722, id                                             48365
value    https://www.youtube.com/watch?v=Pcnb-IkkrXM
Name: 5722, dtype: object)
(5737, id                                             48669
value    https://www.youtube.com/watch?v=wVjPXEcX53k
Name: 5737, dtype: object)
(5753, id                                             48859
value    https://www.youtube.com/watch?v=SCJ7nzKwnYo
Name: 5753, dtype: object)
(5760, id                                             48996
value    https://www.youtube.com/watch?v=nlU-c06iuXk
Name: 5760, dtype: object)
(5761, id                                             49000
value    https://www.youtube.com/watch?v=6V13YiuJ-nc
Name: 5761, dtype: object)
(5806, id                                             49568
value    https://www.youtube.com/watch?v=PjdnFppZiNE
Name: 5806, dtype: object)
(5807, id                                             49636
value    https://www.youtube.com/watch?v=PjdnFppZiNE
Name: 5807, dtype: object)
(5809, id                                             49679
value    https://www.youtube.com/watch?v=GYGXcmjVhJA
Name: 5809, dtype: object)
(5858, id                                             50689
value    https://www.youtube.com/watch?v=2D8mHG2EHOo
Name: 5858, dtype: object)
(5867, id                                             50727
value    https://www.youtube.com/watch?v=JUJzivgajxA
Name: 5867, dtype: object)
(5869, id                                             50833
value    https://www.youtube.com/watch?v=SLnhTwQLSyE
Name: 5869, dtype: object)
(5871, id                                             50907
value    https://www.youtube.com/watch?v=zF09rkKzJoE
Name: 5871, dtype: object)
(5872, id                                             50909
value    https://www.youtube.com/watch?v=WSKyvKVtlO8
Name: 5872, dtype: object)
(5873, id                                             50914
value    https://www.youtube.com/watch?v=qo4DiolxjTc
Name: 5873, dtype: object)
(5875, id                                             50994
value    https://www.youtube.com/watch?v=9C1OOlLng2Q
Name: 5875, dtype: object)
(5876, id                                             50996
value    https://www.youtube.com/watch?v=RKD7XzNyuxI
Name: 5876, dtype: object)
(5885, id                                             51105
value    https://www.youtube.com/watch?v=ehzjkZamGQk
Name: 5885, dtype: object)
(5886, id                                             51108
value    https://www.youtube.com/watch?v=Ls3w-hBIiOE
Name: 5886, dtype: object)
(5887, id                                             51120
value    https://www.youtube.com/watch?v=PZ19PBdG03o
Name: 5887, dtype: object)
(5893, id                                             51295
value    https://www.youtube.com/watch?v=OQD2zsmLrDQ
Name: 5893, dtype: object)
(5905, id                                             51463
value    https://www.youtube.com/watch?v=Lb5sQlgKDeU
Name: 5905, dtype: object)
(6100, id                                             53703
value    https://www.youtube.com/watch?v=Y737vte1zJc
Name: 6100, dtype: object)
(6102, id                                             53750
value    https://www.youtube.com/watch?v=kDGRtes0KVc
Name: 6102, dtype: object)
(6438, id                                             58772
value    https://www.youtube.com/watch?v=L82reeEChiI
Name: 6438, dtype: object)
(6491, id                                             59467
value    https://www.youtube.com/watch?v=QQOZRFij0ac
Name: 6491, dtype: object)
(6498, id                                             59920
value    https://www.youtube.com/watch?v=xu3t-Kl0YwA
Name: 6498, dtype: object)
(6539, id                                             60497
value    https://www.youtube.com/watch?v=LonDC-l4IVs
Name: 6539, dtype: object)
(6766, id                                             65033
value    https://www.youtube.com/watch?v=p7_HK6tUDlY
Name: 6766, dtype: object)
(6768, id                                             65044
value    https://www.youtube.com/watch?v=9axDFpaoAkY
Name: 6768, dtype: object)
(6769, id                                             65046
value    https://www.youtube.com/watch?v=MPAfltU8tjg
Name: 6769, dtype: object)
(6805, id                                             65941
value    https://www.youtube.com/watch?v=QHQZ7pMzojQ
Name: 6805, dtype: object)
(6806, id                                             65943
value    https://www.youtube.com/watch?v=QgYeiw7_yOQ
Name: 6806, dtype: object)
(6807, id                                             65945
value    https://www.youtube.com/watch?v=0Jhyrnb_VtM
Name: 6807, dtype: object)
(6808, id                                             65948
value    https://www.youtube.com/watch?v=i4JYXkGu3lU
Name: 6808, dtype: object)
(6809, id                                            65950
value    http://www.youtube.com/watch?v=vJ9r8ma92pI
Name: 6809, dtype: object)
(6859, id                                             66688
value    https://www.youtube.com/watch?v=1cWsLnjS8M4
Name: 6859, dtype: object)
(6860, id                                             66690
value    https://www.youtube.com/watch?v=_FevBq00iKI
Name: 6860, dtype: object)
(6861, id                                             66692
value    https://www.youtube.com/watch?v=ehJB3KiAXzM
Name: 6861, dtype: object)
(6862, id                                             66697
value    https://www.youtube.com/watch?v=Mm64gFZv-9Y
Name: 6862, dtype: object)
(6863, id                                             66700
value    https://www.youtube.com/watch?v=UT_gFoC_IiE
Name: 6863, dtype: object)
(6864, id                                             66702
value    https://www.youtube.com/watch?v=z1MftnIsGmw
Name: 6864, dtype: object)
(6958, id                                             67955
value    https://www.youtube.com/watch?v=FVK1dMAR18M
Name: 6958, dtype: object)
(6976, id                                             68024
value    https://www.youtube.com/watch?v=oIoWcYV-fH4
Name: 6976, dtype: object)
(6977, id                                             68028
value    https://www.youtube.com/watch?v=18BJDnYr_fg
Name: 6977, dtype: object)
(6978, id                                             68030
value    https://www.youtube.com/watch?v=OJy43NyuFG4
Name: 6978, dtype: object)
(6979, id                                             68032
value    https://www.youtube.com/watch?v=ZQkeoyi6_l8
Name: 6979, dtype: object)
(6980, id                                             68034
value    https://www.youtube.com/watch?v=9lMYwCzdjMQ
Name: 6980, dtype: object)
(6981, id                                             68036
value    https://www.youtube.com/watch?v=zjpE7iZUTuo
Name: 6981, dtype: object)
(6982, id                                             68042
value    https://www.youtube.com/watch?v=yLaUjnwX28w
Name: 6982, dtype: object)
(7078, id                                             69171
value    https://www.youtube.com/watch?v=f37q1vn40i4
Name: 7078, dtype: object)
(7079, id                                             69174
value    https://www.youtube.com/watch?v=BgS9Ufe1_pE
Name: 7079, dtype: object)
(7080, id                                             69177
value    https://www.youtube.com/watch?v=ZR99oXBacP0
Name: 7080, dtype: object)
(7081, id                                             69180
value    https://www.youtube.com/watch?v=T08IjF7OPf4
Name: 7081, dtype: object)
(7107, id                                             69491
value    https://www.youtube.com/watch?v=jtFc6B5lmIM
Name: 7107, dtype: object)
(7266, id                                             72098
value    https://www.youtube.com/watch?v=tW1-CmggG9s
Name: 7266, dtype: object)
(7267, id                                             72104
value    https://www.youtube.com/watch?v=OpSUmuG3Bp8
Name: 7267, dtype: object)
(7268, id                                             72109
value    https://www.youtube.com/watch?v=4mbryW8fZrA
Name: 7268, dtype: object)
(7448, id                                             74224
value    https://www.youtube.com/watch?v=BS4M7F4Mt1U
Name: 7448, dtype: object)
(7686, id                                             78245
value    https://www.youtube.com/watch?v=BQAXTtExNYw
Name: 7686, dtype: object)
(7691, id                                             78334
value    https://www.youtube.com/watch?v=LwbnPrCg_xo
Name: 7691, dtype: object)
(7768, id                                             79597
value    https://www.youtube.com/watch?v=Gl5_6G_CkcE
Name: 7768, dtype: object)
(7770, id                                             79640
value    https://www.youtube.com/watch?v=x1hLm375dL8
Name: 7770, dtype: object)
(7788, id                                             79719
value    https://www.youtube.com/watch?v=OIgeebjYtMI
Name: 7788, dtype: object)
(7790, id                                             79731
value    https://www.youtube.com/watch?v=CXAJ6BNaDMc
Name: 7790, dtype: object)
(7791, id                                             79735
value    https://www.youtube.com/watch?v=BEW12HMdkh8
Name: 7791, dtype: object)
(7792, id                                             79745
value    https://www.youtube.com/watch?v=jN1CiRfG0iM
Name: 7792, dtype: object)
(7793, id                                             79747
value    https://www.youtube.com/watch?v=rHNNIchCBmI
Name: 7793, dtype: object)
(7794, id                                             79767
value    https://www.youtube.com/watch?v=qb5SHagMzp4
Name: 7794, dtype: object)
(7795, id                                             79768
value    https://www.youtube.com/watch?v=-JXaqzhsDLA
Name: 7795, dtype: object)
(7796, id                                             79776
value    https://www.youtube.com/watch?v=_wvVfwMo5cs
Name: 7796, dtype: object)
(7797, id                                             79780
value    https://www.youtube.com/watch?v=orqYrBsnUZU
Name: 7797, dtype: object)
(7808, id                                             80023
value    https://www.youtube.com/watch?v=BU4Qprznwu0
Name: 7808, dtype: object)
(7878, id                                             81758
value    https://www.youtube.com/watch?v=qWL9qZ3IdoY
Name: 7878, dtype: object)
(7881, id                                             81833
value    https://www.youtube.com/watch?v=kSN-6qenkHI
Name: 7881, dtype: object)
(7882, id                                             81835
value    https://www.youtube.com/watch?v=q4rDqtnM-bs
Name: 7882, dtype: object)
(7883, id                                             81837
value    https://www.youtube.com/watch?v=wCHrgpc3GNM
Name: 7883, dtype: object)
(7884, id                                             81849
value    https://www.youtube.com/watch?v=wCHrgpc3GNM
Name: 7884, dtype: object)
(7885, id                                             81851
value    https://www.youtube.com/watch?v=OEr3sgx2IyQ
Name: 7885, dtype: object)
(7886, id                                             81886
value    https://www.youtube.com/watch?v=bPbKF7p1r9U
Name: 7886, dtype: object)
(7887, id                                             81888
value    https://www.youtube.com/watch?v=i7rvwzQbQ5g
Name: 7887, dtype: object)
(7888, id                                             81893
value    https://www.youtube.com/watch?v=oW7oDinpBhg
Name: 7888, dtype: object)
(7889, id                                             81896
value    https://www.youtube.com/watch?v=5JJeUy0Zry0
Name: 7889, dtype: object)
(7911, id                                             82278
value    https://www.youtube.com/watch?v=7Qbs3xGJtLo
Name: 7911, dtype: object)
(7912, id                                             82280
value    https://www.youtube.com/watch?v=ss4bhQT5Gfo
Name: 7912, dtype: object)
(7913, id                                             82282
value    https://www.youtube.com/watch?v=XuPb1tTKh3I
Name: 7913, dtype: object)
(7914, id                                             82284
value    https://www.youtube.com/watch?v=Wm8DP5C2fEU
Name: 7914, dtype: object)
(7915, id                                             82288
value    https://www.youtube.com/watch?v=HfvUisvifj0
Name: 7915, dtype: object)
(7916, id                                             82294
value    https://www.youtube.com/watch?v=Xrkudyv_BTw
Name: 7916, dtype: object)
(7917, id                                             82296
value    https://www.youtube.com/watch?v=BOluYnZIIG8
Name: 7917, dtype: object)
(7918, id                                             82302
value    https://www.youtube.com/watch?v=CCNgHnAX1YE
Name: 7918, dtype: object)
(7919, id                                             82304
value    https://www.youtube.com/watch?v=N4N9o8LYZVQ
Name: 7919, dtype: object)
(7920, id                                             82306
value    https://www.youtube.com/watch?v=dirRaD0NEzA
Name: 7920, dtype: object)
(7921, id                                             82313
value    https://www.youtube.com/watch?v=vrpv-8DDHmA
Name: 7921, dtype: object)
(7922, id                                             82315
value    https://www.youtube.com/watch?v=rI9Xo3acmYY
Name: 7922, dtype: object)
(7923, id                                             82317
value    https://www.youtube.com/watch?v=ZsGGWlwUMjY
Name: 7923, dtype: object)
(7924, id                                             82320
value    https://www.youtube.com/watch?v=2crLzxPSDlo
Name: 7924, dtype: object)
(7925, id                                             82322
value    https://www.youtube.com/watch?v=g20iyCqFprg
Name: 7925, dtype: object)
(7926, id                                             82325
value    https://www.youtube.com/watch?v=2477LHe-dLg
Name: 7926, dtype: object)
(7927, id                                             82327
value    https://www.youtube.com/watch?v=r62Cc4W3RwA
Name: 7927, dtype: object)
(7928, id                                             82329
value    https://www.youtube.com/watch?v=VXt-WFCnMUw
Name: 7928, dtype: object)
(7929, id                                             82331
value    https://www.youtube.com/watch?v=FPL5ukzTTgg
Name: 7929, dtype: object)
(7930, id                                             82337
value    https://www.youtube.com/watch?v=NRMWVMHExuY
Name: 7930, dtype: object)
(7931, id                                             82343
value    https://www.youtube.com/watch?v=sP0WkDZa1Sc
Name: 7931, dtype: object)
(7932, id                                             82345
value    https://www.youtube.com/watch?v=JewxJ10SlH4
Name: 7932, dtype: object)

In [155]:
grouped_ex_injections = []
for key in entity_inj_dict:
    for id in entity_inj_dict[key]:
        
        grouped_ex_injections.append({"id":key, "injection":id})
df_inj = pd.DataFrame(grouped_ex_injections)
df_inj = df_inj[df_inj.injection != '']
df_inj

          id injection
0       1495      9741
1       1495     96143
2       1495     75523
3       1497    /51120
4       1497      4347
...      ...       ...
2503  292101     /9853
2504  292101    /52403
2505  292101   /123881
2506  292101   /123885
2507  294943     81835

[2485 rows x 2 columns]

In [156]:
def test_fct(x):
    if x[0] == '/':
        return x[1:]
    return x

def to_int(x):
    try:
        return int(x)
    except:
        print (x)
        return 0

In [157]:

df_inj["injection"] = df_inj["injection"].apply(test_fct)
df_inj["injection"] = df_inj["injection"].apply(to_int)
df_inj

https://assets.serlo.org/legacy/541ae8ffd2044_a6939af75e1532d9027d2bc2e7a8d6721f73beeb.jpg
https://assets.serlo.org/legacy/5502b727644d5_a6939af75e1532d9027d2bc2e7a8d6721f73beeb.jpg
\43487
v=h116QoLFK0o

          id  injection
0       1495       9741
1       1495      96143
2       1495      75523
3       1497      51120
4       1497       4347
...      ...        ...
2503  292101       9853
2504  292101      52403
2505  292101     123881
2506  292101     123885
2507  294943      81835

[2485 rows x 2 columns]

In [158]:
inj_ex = []
for ex in grouped_exercises.id:
    for row in df_inj.injection:
        if row == ex:
            inj_ex.append(row)

In [159]:
final_df = df_inj[df_inj.injection.isin(inj_ex)]
final_df

          id  injection
5       1499       3697
6       1499       3869
7       1499       3701
20      1509       4247
21      1509       4251
...      ...        ...
2502  292101       9837
2503  292101       9853
2504  292101      52403
2505  292101     123881
2506  292101     123885

[731 rows x 2 columns]

In [148]:
final_df.to_csv("grouped_exercise_injections", index=False)