In [12]:
import pandas as pd
import mysql.connector

from IPython.display import display, Markdown, HTML

db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="secret",
    port="3306",
    database="serlo",
    charset="latin1"
)

def cached(func):
    cache = dict()
    
    def return_func(arg):
        if (arg in cache):
            return cache[arg]
        else:
            result = func(arg)
            cache[arg] = result
            return result
    
    return return_func

def query(sql):
    c = db.cursor()
    c.execute(sql)
    
    return c.fetchall()

def querySingleton(sql):
    return [ x[0] for x in query(sql) ]

@cached
def getParent(termId):
    return querySingleton("""
        select parent_id from term_taxonomy where id = %s;
    """ % termId)[0]

def getTermName(termId):
    return querySingleton("""
        select term.name from term_taxonomy
        join term on term.id = term_taxonomy.term_id
        where term_taxonomy.id = %s;
    """ % termId)[0]

@cached
def getSubject(termId):
    if int(termId) in [79733, 81317, 20852, 87814, 87827, 85477, 87860, 75049, 76750, 87496, 75678, 91252, 91253]:
        return "Prüfungsbereich Mathematik"
    if int(termId) in [106082]:
        return getTermName(termId)
    
    parent = getParent(termId)
    grandparent = getParent(parent)
    
    if (parent == 106081):
        return getTermName(termId)
    
    return getSubject(parent) if grandparent != None else getTermName(termId)

@cached
def getSubjectFromUuid(uuid):
    taxonomyTerms = querySingleton(f"""
        select term_taxonomy_id from term_taxonomy_entity
        where term_taxonomy_entity.entity_id  = {uuid};
    """)
    
    if len(taxonomyTerms) > 0:
        return getSubject(taxonomyTerms[0])

    parents = querySingleton(f"""
        select parent_id from entity_link
        where entity_link.child_id  = {uuid};
    """)
    
    if len(parents) > 0:
        return getSubjectFromUuid(parents[0])
    
    return None

#display(getSubjectFromUuid(127338))
#display(getSubjectFromUuid(63496))
#display(getSubjectFromUuid(1))
#display(getSubjectFromUuid(170741))
#display(getSubjectFromUuid(167497))

In [13]:
import json

json.dumps(querySingleton("""
select distinct(entity_link.parent_id ) from event_log join entity_link on entity_link.child_id = event_log.uuid_id where event_log.event_id = 4 and event_log.date > Date("2020-02-01");
"""));

**Entity Types:**
id | name                       <br>
+----+-----------------------------<br>
|  1 | taxonomy/term/associate     <br>
|  2 | taxonomy/term/create        <br>
|  3 | license/object/set          <br>
|  4 | entity/create               <br>
|  5 | entity/revision/add         <br>
|  6 | entity/revision/checkout   <br>
|  7 | entity/link/create          <br>
|  8 | discussion/create           <br>
|  9 | discussion/comment/create  <br>
| 10 | uuid/trash                  <br>
| 11 | entity/revision/reject      <br>
| 12 | taxonomy/term/update        <br>
| 13 | uuid/restore                <br>
| 14 | discussion/comment/archive <br>
| 15 | taxonomy/term/parent/change <br>
| 16 | discussion/restore          <br>
| 17 | taxonomy/term/dissociate    <br>
| 18 | entity/link/remove          <br>      


**Für diese Analyse ausgewählt:**<br>
  1 | taxonomy/term/associate<br>
  2 | taxonomy/term/create<br>
  6 | entity/revision/checkout<br>
 11 | entity/revision/reject<br>
 12 | taxonomy/term/update<br>
 13 | uuid/restore<br>
 15 | taxonomy/term/parent/change<br>
 16 | discussion/restore<br>
 17 | taxonomy/term/dissociate<br>

In [14]:
def read_event_log():
    df = pd.read_sql("""
        select event_log.id, event_log.actor_id, event_log.date, user.username, event_parameter_uuid.uuid_id from event_log
        join user on user.id = event_log.actor_id
        join event_parameter on event_parameter.log_id = event_log.id
        join event_parameter_uuid on event_parameter_uuid.event_parameter_id = event_parameter.id
        where event_log.event_id = 1 
            or event_log.event_id = 2 
            or event_log.event_id = 6 
            or event_log.event_id = 11
            or event_log.event_id = 12
            or event_log.event_id = 13 
            or event_log.event_id = 15
            or event_log.event_id = 16
            or event_log.event_id = 17
        and year(event_log.date) > 2018
        and user.username != "Legacy"
    """, db)
    df.set_index("id", inplace=True)
    df.rename(columns={"uuid_id": "uuid"}, inplace=True)
    df["subject"] = df["uuid"].map(getSubjectFromUuid)
    return df

event_log = read_event_log()
event_log.head(100)

     actor_id                date username  uuid subject
id
1           6 2014-03-01 20:36:33   Legacy  1199    None
2           6 2014-03-01 20:36:34   Legacy  1200    None
3           6 2014-03-01 20:36:34   Legacy  1201    None
4           6 2014-03-01 20:36:34   Legacy  1202    None
5           6 2014-03-01 20:36:34   Legacy  1203    None
..        ...                 ...      ...   ...     ...
316         6 2014-03-01 20:37:02   Legacy  1501   Mathe
319         6 2014-03-01 20:37:02   Legacy  1503   Mathe
321         6 2014-03-01 20:37:08   Legacy  1503   Mathe
324         6 2014-03-01 20:37:08   Legacy  1505   Mathe
326         6 2014-03-01 20:37:12   Legacy  1505   Mathe

[100 rows x 5 columns]

In [15]:
event_log.username.unique()

array(['Legacy', 'arekkas', 'inyono', 'blacksleet', 'bunk', 'RobinKibart',
       'Lena09', 'Hannes', 'Felix', 'wasmeier', 'haberlm', 'franzi',
       'AK1701', 'Simon', 'Renate', 'devuser', 'motto1', 'Manuel_Voigt',
       'Tinsaye', 'wolfgang', 'Annette', 'jkempff', 'Laura', 'roehren',
       'tinsayeab', 'Martin230', 'HokkaidokÃ\x83Â¼rbis', 'hjiang',
       'Agnes', 'hfreye', 'Chembe', 'jakob', 'Kati_L', 'porks', 'ME',
       'almalla1', 'Genie', 'tornowm', 'Kulla', 'NiCi', 'ClaF', 'Gent',
       'tacurran', 'Monika', 'Katha26', 'mats', 'daFischer', 'philer',
       'Nish', 'Nessa', 'LorenzHuber', 'Amadeus', 'philipp_gadow',
       'Henry', 'CutterSlade', 'Petz', 'manu89', 'horvatkevin', 'Petrus',
       'BLachner', '-anna-', 'irgendwer', 'Disputation', 'anja',
       'SerloMZL', 'jobheld', 'Emma', 'flowfx', 'arbaro', 'sportler85',
       'basser51', 'LILLIA12', 'elapinae', 'Pi-rat', 'edeljor', 'botho',
       'solva', 'deutschonline', 'Friedemann', 'renade', 'Mononoke',
       'Winterblume', 'horotab', 'Drinc', 'Helly', 'EnRico',
       'Severin_Tengler', 'Tobias', 'Knorrke', 'Christina', 'MarinaMarek',
       'Jakobmaria', 'Inge', 'Sheila', 'Alnitak42', 'SamHandwerk',
       'theobass', 'SabineG', 'heilignuechtern', 'SilkeB', 'kixyt',
       'VerenaS', 'ClausB', 'JonasBl', 'VeronikaWidhopf', 'gleissl',
       'fade', 'Benjamin', 'fischthi', 'RaphaelUllmann', 'Wachter',
       'peterjaumann', 'testerin42', 'Philippo', 'wwag110465',
       'hamburggogga', 'Inception_', 'Deleted', 'Bene', 'larsschwegmann',
       'Rainer_Groer', 'Verena', 'abollithompson', 'SimonH', 'Josi',
       'eike', 'Julia_Re', 'testaccount', 'andreas_fischnaller',
       'amitmaycohen92', 'Ronnit', 'raz_ezra', 'Simon2', 'dadim',
       'alexanderbrand', 'ben', 'piet_lu', 'SebSoGa', 'Marvin',
       'niklasgee', 'tobi_serlo', 'theo', 'deborah', 'dominiklechner',
       'RebeccaB', 'yomomo', 'Smita', 'chdieter', 'Stromi93', 'Aloso',
       'Vasiliki', 'ESHA', 'franzi13013', 'Marcel4310', 'peterbabnik',
       'abiyo', 'Michi', 'vivian_haller', 'Nauran', 'Mathe351',
       's_jwiese', 'GraffL', 'ClaudiaR', 'Christoph', 'DavidA', 'Talonnn',
       'Lodifice', 'sven87', 'DominikW', 'Vronska', 'kurrater', 'LasseG',
       'Kajetan', 'gerdvonharten', 'Susann_Handrick', 'LaraJean',
       'NinaHaa', 'Linelotta', 'Hannajaha', 'Florian_Diercks', 'Nicolaj',
       'andue', 'Sofie', 'Alena', 'Pfandlerin', 'soldag', 'HalimLawal',
       'tica', 'Timey', 'Photon', 'Mahdi', 'Rebi', 'shaden-aly', 'isi237',
       'Sophie_lg', 'fxjonas', 'gunar', 'sansmile', 'Benni',
       'aleyna_hincal14', 'metzgaria', 'ekin', 'ToniSpring', 'Greta',
       'Special', 'lukaseidloth', 'jonathangierke', 'kathongi', 'paulafs',
       'augustin2001', 'Alexa', '5ophia', 'nicfrie', 'LeaFa', 'danip',
       'leo', 'tino_schmid', 'Barbara_Schmid', 'malenaf',
       'Sono_Dennis_Willbrand', 'Johanna_B', 'NadineSamy2110', 'Fracture',
       'adahermelink', 'tikreEUF', 'Flo_17', 'dv1d', 'PhilipJunk',
       'annangy', 'Laurin', 'benjamin888', 'Magdalenap', 'angelina2002',
       'ChristinaStamatopoulos', 'katrinfertl', 'Julia_S', 'Ruth',
       'George_Serlo', 'RebekkaRohe', 'Marika', 'Monika_Wirthl',
       'melissa', 'Niggo', 'Gioia', 'martinlangenberg', 'sb2014',
       'Grimberg-Noah', 'LisaSchwa', 'renepick', 'Menuja', 'Moritz87',
       'kazuki', 'Karin', 'Flora_Jana', 'ichraum', 'Alex_Lueckenhaus',
       'Eva', 'Phoible', 'Katriken', 'Evsik', 'nehirglsy',
       'Bernhard-Strauss', 'moritzsauter', 'petersi', 'pinkmuffin',
       'Lorena', 'Daniel_Voetter', 'moritz0312', 'dr-s-thomsen',
       'Hendrik_Arl', 'Luis3105', 'markus_janker', 'adrian_ocker', 'Leo1',
       'daniel_da', 'Martin_Gast', 'abcd', 'hernlmax', 'emkadys',
       'Anna-Katharina', '_Philipp_', 'Lenali', 'sr', 'julian_sieber',
       'Croft123', 'Christian_Brand', 'hp', 'Bianca3', 'tobias_lausser',
       'Susi', 'Stefan95', 'Oliver_Heinzel', 'Geophysiker', 'Hadriwa',
       'Julia_Heger', 'nicoproske', 'Colentrix', 'Konsti', 'Martina01',
       'Raphi', 'Entro3_1415_', 'Olefant', 'Paul_Meier', 'Annka_Bremer',
       'Luis_Wolf', 'MariusFriedemann', 'adrian_wagner', 'lotta_behrens',
       'msoelch', 'Jorin', 'Penelope237', 'amankumar1419', 'phillipW',
       'marie2143', 'Chapako24', 'd_spies', 'kw_l', 'Michi_pi',
       'heilmanamy', 'Tutor', 'MGC', 'BenW', 'xcex', 'Aurelia', 'Viki',
       'Vithusha', 'sabi21', 'Bettina_G', 'michi_', 'Sonja_We',
       'Simone_Heinrich', 'Syne', 'PatrickO', 'Fra_nzi', 'Deleren',
       'jessie_lgr', 'Lisa-S', 'ThomasBrunner', 'namlong111',
       'Jojuacamole', 'CBorowsky', 'Marius_Fenzl', 'mahatthias',
       'egab248', 'simonboesl', 'Reaper', 'AlexSi', 'Miazl', 'Fipa',
       'KyraSaa', 'JunaNivis', 'SinaDE', 'max25', 'Valentin01',
       'darja_wlhlm', 'MD', 'remco', 'Jonathan', 'LukasK', 'Maria_F',
       'valeriehollwedel', 'Felix96', 'Tendler', 'ismailbaskin',
       'jakobwes', 'Schneeeule', 'Quatematik', 'Daphne_s', 'laraamann',
       'opamp', 'MaxHerzog', '_Wasserfall_Pia_', 'aksanoble', 'Herbrert',
       'Daniel-I', 'Karin2406', 'Isabel_Domagala', 'Mellia',
       'nadine_frey', 'neshah', 'Nanami', 'Liv_a', 'I_M_MEEN', 'emir_nbh',
       'julien_grenier', 'ga87vof', 'anne22', 'arschpups2', '2817',
       'JuliaStaat', 'Joe', 'YannickLaubinger', 'Hanna_Kulke', 'RePe',
       'isabella', 'Judith', '-Miriam-', 'valentin', 'ELdER1cH', 'gavin',
       'Rubikscube', 'Muutos', 'Evi', 'deltax', 'Asante', 'Paul_',
       'Hauke', 'joshuae', 'bgchs', 'dems15v1', 'Aaron_A', 'Tobi0502',
       'MarK97', 'Basti32', 'Benedict', 'binwen', 'Tjark_MS', 'florian30',
       'Alex_Weiher', 'TobiasMH', 'Matthias-Rips', 'schubertsophia',
       'Tharaha', 'hamzaabid', 'dal', 'Astor', 'Hersheysoldier',
       'France02', 'Thurkaa', 'polarfuchs17', 'JulianBabl', 'benf2003',
       'ZenGorilla', 'Benedikt-Buescher', 'Savary', 'anbestCL',
       'Samuel-kleinen', 'WandaPaetzold', 'pro100met', 'Heba', 'sogand',
       'Chriff', 'Sascha_Lill_95', 'gruenerBogen', 'Marvin_Serlo',
       'Dinesh18', 'MasterMind', 'Renate_mit_vielen_Interessen',
       'JulianWR', 'clavicina', 'Juliaaaa', 'mpetras', 'SarinaLi',
       'CalmSonic', 'clavina', 'MFauser', 'Kowalsky', 'JanKir_WWU',
       'tetsuya', 'sperl', 'Theofanis93', 'noisestream', 'LinaMaria',
       'emre', 'Sobika', 'Susany', 'mathea', 'LaufenderBaum', 'JakobR02',
       'sesetsey', 'jonassrl', 'Laura_TGS_B', 'franzke-p', 'Jungse_593',
       'aFlorianF', 'TA', 'Lukas_', 'Tina_carolina', 'marie09',
       'ninamarie_n', 'Quir', 'Laura21', 'kdkeller', 'Thomi411',
       'Kerstin', 'Tabitha', 'Magic_Maik', 'T_D', 'Palermo', 'jana22',
       'Katrind', 'Digamma', 'tobi-kaps', 'hxwalther', 'pouljulia',
       'JuliaBrunkert', 'Gesine', 'olivander', 'th', 'Tobinador',
       'Blerta', 'MarieUllmann', 'Carolin', 'annak', 'Theresa_Rudolph',
       'isabellad', 'Baqer', 'lea_b', 'Madlen', 'LWGGRO',
       'internal_saskia', 'Taulant-Osmani', 'janlouiebas', 'PaulMusikus',
       'rpzzw', 'BhumikaKarunaharamoorthy', 'NaJa', 'Marc_Ho', 'Kierek',
       'HannaKulke', 'Henrietta', 'lrodriguez', 'Wolli2016',
       '06gymnasium_rahden', '16gymnasium_rahden', '03gymnasium_rahden',
       '02gymnasium_rahden', '09gymnasium-rahden', '08gymnasiumrahden',
       '04gymnasium_rahden', '12gymnasium-rahden', '19gymnasium_rahden19',
       '14gymnasium_rahden', '01gymnasium-rahden', '10gymnasium_rahden',
       '05gymnasium_rahden', '21gymnasium-rahden', '07gymnasium_rahden',
       '13gymnasium_rahden_de', '15gymnasium_rahden', 'Peter',
       '17gymnasium-rahden', '11gymnasium_rahdende', 'Frederik_Rochell',
       'ZehraTas', 'dajules99', 'hengels', 'Lanky', 'Sivani', 'sivakumar',
       'wendrock', 'JudoKarl', 'Adrian_B', 'Katharina54', 'Sharanya',
       'Tom4Mathe', 'williamwilly', 'Pseudo_Informatiker',
       'Anton_Zikmund', 'Mathes', 'Wo_Fo', 'KerstinPecher', 'Matheo',
       'Corinna', 'AhanaPramanik', 'Rahuldangi2407', 'Gianluca',
       'Katrin_K', 'Annika-Hemlein', 'hwlang', 'ClaudiaLK', 'sien-lie',
       'Kdeegan', 'Teachers_angel', 'Sick-Yes', 'Rebecca_8492',
       'Elbenjamino', 'BaRockA', 'Rami', 'Daniel-Flueck', '3geometre',
       'bleacher', 'p_beutel', 'BenL', 'Louisa_H', 'MelMel',
       'Kuddelmuddel', 'Nille', 'Theresa_Bee', 'Carina_Faude',
       'LeonieTrautmann', 'trdoer', 'ABC19Z', 'bastianjoel',
       'acarolinabotelho', 'janina_reinhardt', 'Lilla', 'senayildiz',
       'tamara_proebster', 'lachendesZebra', 'Lavanya', 'krtl',
       'randomName23', 'Max_', 'Habiba', 'Piero', 'Vijay', 'Flo123',
       'Efe', 'Kaje', 'vanessa2021', 'Mathequeen', 'NNico', 'bchij',
       'phyks', 'Lufic0or', 'Lukas_Zapka', 'Xylocopa', 'Nadeen',
       'LucaWellhausen', 'ThomasG', 'uebermario', 'tionselo', 'olivia__',
       'korbi_d', 'Rodowie', 'Leseratte_22', 'leogato', 'L_U-B_E',
       'HugoBT', 'RalfReinecke', 'Felix_Eccardt', 'Selin_11',
       'ridaazad384d', 'maxeder', 'KAhrens', 'Adonis', 'Rosandro200',
       'mimuld', 'asda', 'Vanessa_Brighina', 'Katherin', 'Almut',
       'erklaerung-und-mehr-org', 'CarolinJaser'], dtype=object)

In [16]:
days = 90
edits = 10
cutoff_date = pd.Timestamp.today() - pd.Timedelta(days=days)
#print (cutoff_date)

df1 = event_log[event_log['date'] > cutoff_date]
#Delete User "Legacy"
df1.drop(df1[df1.actor_id == 6].index, inplace=True)
df2 = df1.groupby(by = ['subject', 'actor_id'], as_index = False).count()
df3 = df2[df2['uuid'] >= edits]
df3 = df3.drop(['date', 'username', 'uuid'], axis = 1)
df4 = df3.groupby(by = ['subject']).count()
active_reviewers_df = df4.rename(columns={"actor_id": "active_reviewers"})
active_reviewers_df = active_reviewers_df.sort_values(by = ['active_reviewers'], ascending=False)
display(Markdown(f"### Anzahl aktiver Reviewer:Innnen pro Fach"))
active_reviewers_df

/Users/cj/.asdf/installs/python/3.9.1/lib/python3.9/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

### Anzahl aktiver Reviewer:Innnen pro Fach

                            active_reviewers
subject
Mathe                                      9
Sandkasten                                 9
Biologie                                   4
Nachhaltigkeit                             4
Englisch                                   3
Prüfungsbereich Mathematik                 3
Chemie                                     2
Informatik                                 2
Community                                  1
Deutsch als Fremdsprache                   1
Geographie                                 1
MatemÃ¡ticas                               1
Math                                       1
Sostenibilidad aplicada                    1